# Hopsworks Feature Store - Part 02 - Training Data & Feature views
This is the second part of the quick start series of tutorials about Hopsworks Feature Store. This notebook explains how to read from a feature group and create training dataset within the feature store

**This notebook will focus on the creation of the dataset that we will train our model on. Divided in 3 sections:** 
1. **Select the features** we want to train our model on,
2. **How the features should be preprocessed,**
3. **Create a dataset split** for training and validation data.

![tutorial-flow](images/feature_view_training_data.png)

In [1]:
import hsfs

conn = hsfs.connection()
fs = conn.get_feature_store()

Connected. Call `.close()` to terminate connection gracefully.

### Feature Selection

We start by selecting all the features we want to include for model training/inference.

In [2]:
# Load feature groups.
trans_fg = fs.get_feature_group('transactions', version=1)
window_aggs_fg = fs.get_feature_group('transactions_4h_aggs', version=1)

# Select features for training data.
ds_query = trans_fg.select(["fraud_label", "category", "amount", "age_at_transaction", "days_until_card_expires", "loc_delta"])\
    .join(window_aggs_fg.select_except(["cc_num"]), on="cc_num")\

ds_query.show(5)

2022-05-27 14:16:59,548 INFO: USE `fv_test_featurestore`
2022-05-27 14:17:00,454 INFO: WITH right_fg0 AS (SELECT *
FROM (SELECT `fg1`.`fraud_label` `fraud_label`, `fg1`.`category` `category`, `fg1`.`amount` `amount`, `fg1`.`age_at_transaction` `age_at_transaction`, `fg1`.`days_until_card_expires` `days_until_card_expires`, `fg1`.`loc_delta` `loc_delta`, `fg1`.`cc_num` `join_pk_cc_num`, `fg1`.`datetime` `join_evt_datetime`, `fg0`.`trans_volume_mstd` `trans_volume_mstd`, `fg0`.`trans_volume_mavg` `trans_volume_mavg`, `fg0`.`trans_freq` `trans_freq`, `fg0`.`loc_delta_mavg` `loc_delta_mavg`, RANK() OVER (PARTITION BY `fg1`.`cc_num`, `fg1`.`datetime` ORDER BY `fg0`.`datetime` DESC) pit_rank_hopsworks
FROM `fv_test_featurestore`.`transactions_1` `fg1`
INNER JOIN `fv_test_featurestore`.`transactions_4h_aggs_1` `fg0` ON `fg1`.`cc_num` = `fg0`.`cc_num` AND `fg1`.`datetime` >= `fg0`.`datetime`) NA
WHERE `pit_rank_hopsworks` = 1) (SELECT `right_fg0`.`fraud_label` `fraud_label`, `right_fg0`.`category` `category`, `right_fg0`.`amount` `amount`, `right_fg0`.`age_at_transaction` `age_at_transaction`, `right_fg0`.`days_until_card_expires` `days_until_card_expires`, `right_fg0`.`loc_delta` `loc_delta`, `right_fg0`.`trans_volume_mstd` `trans_volume_mstd`, `right_fg0`.`trans_volume_mavg` `trans_volume_mavg`, `right_fg0`.`trans_freq` `trans_freq`, `right_fg0`.`loc_delta_mavg` `loc_delta_mavg`
FROM right_fg0)

,fraud_label,category,amount,age_at_transaction,days_until_card_expires,loc_delta,trans_volume_mstd,trans_volume_mavg,trans_freq,loc_delta_mavg
0,0,Grocery,93.51,25.334094,175.912280,0.000000,93.510,93.510,93.510,0.000000
1,0,Domestic Transport,65.14,25.335632,175.350486,0.319574,65.140,65.140,65.140,0.319574
2,0,Grocery,0.26,25.336235,175.130347,0.314148,0.260,0.260,0.260,0.314148
3,0,Grocery,1.43,25.336660,174.975058,0.000000,0.845,0.845,0.845,0.157074
4,0,Grocery,19.75,25.344710,172.034664,0.105313,19.750,19.750,19.750,0.105313

Recall that we computed the features in `transactions_4h_aggs` using 4-hour aggregates. If we had created multiple feature groups with identical schema for different window lengths, and wanted to include them in the join we would need to include a prefix argument in the join to avoid feature name clash. See the [documentation](https://docs.hopsworks.ai/feature-store-api/latest/generated/api/query_api/#join) for more details.

### Transformation Functions

We will preprocess our data using *min-max scaling* on numerical features and *label encoding* on categorical features. To do this we simply define a mapping between our features and transformation functions. This ensures that transformation functions such as *min-max scaling* are fitted only on the training data (and not the validation/test data), which ensures that there is no data leakage.

In [3]:
# Load transformation functions.
min_max_scaler = fs.get_transformation_function(name="min_max_scaler")
label_encoder = fs.get_transformation_function(name="label_encoder")

# Map features to transformations.
transformation_functions = {
    "category": label_encoder,
    "amount": min_max_scaler,
    "trans_volume_mavg": min_max_scaler,
    "trans_volume_mstd": min_max_scaler,
    "trans_freq": min_max_scaler,
    "loc_delta": min_max_scaler,
    "loc_delta_mavg": min_max_scaler,
    "age_at_transaction": min_max_scaler,
    "days_until_card_expires": min_max_scaler,
}

#### Feature View Creation

The Feature Views allows schema in form of a query with filters, define a model target feature/label and additional transformation functions.
In order to create a Feature View we may use `fs.create_feature_view()`

In [4]:
feature_view = fs.create_feature_view(
    name='transactions_view',
    query=ds_query,
    label=["fraud_label"],
    transformation_functions=transformation_functions
)

To view and explore data in the feature view we can retrieve batch data using `get_batch_data()` method

In [5]:
feature_view.get_batch_data().head(5)

2022-05-27 14:19:18,571 INFO: USE `fv_test_featurestore`
2022-05-27 14:19:19,505 INFO: WITH right_fg0 AS (SELECT *
FROM (SELECT `fg1`.`category` `category`, `fg1`.`amount` `amount`, `fg1`.`age_at_transaction` `age_at_transaction`, `fg1`.`days_until_card_expires` `days_until_card_expires`, `fg1`.`loc_delta` `loc_delta`, `fg1`.`cc_num` `join_pk_cc_num`, `fg1`.`datetime` `join_evt_datetime`, `fg0`.`trans_volume_mstd` `trans_volume_mstd`, `fg0`.`trans_volume_mavg` `trans_volume_mavg`, `fg0`.`trans_freq` `trans_freq`, `fg0`.`loc_delta_mavg` `loc_delta_mavg`, RANK() OVER (PARTITION BY `fg1`.`cc_num`, `fg1`.`datetime` ORDER BY `fg0`.`datetime` DESC) pit_rank_hopsworks
FROM `fv_test_featurestore`.`transactions_1` `fg1`
INNER JOIN `fv_test_featurestore`.`transactions_4h_aggs_1` `fg0` ON `fg1`.`cc_num` = `fg0`.`cc_num` AND `fg1`.`datetime` >= `fg0`.`datetime`) NA
WHERE `pit_rank_hopsworks` = 1) (SELECT `right_fg0`.`category` `category`, `right_fg0`.`amount` `amount`, `right_fg0`.`age_at_transaction` `age_at_transaction`, `right_fg0`.`days_until_card_expires` `days_until_card_expires`, `right_fg0`.`loc_delta` `loc_delta`, `right_fg0`.`trans_volume_mstd` `trans_volume_mstd`, `right_fg0`.`trans_volume_mavg` `trans_volume_mavg`, `right_fg0`.`trans_freq` `trans_freq`, `right_fg0`.`loc_delta_mavg` `loc_delta_mavg`
FROM right_fg0)

,category,amount,age_at_transaction,days_until_card_expires,loc_delta,trans_volume_mstd,trans_volume_mavg,trans_freq,loc_delta_mavg
0,Grocery,93.51,25.334094,175.912280,0.000000,93.510,93.510,93.510,0.000000
1,Domestic Transport,65.14,25.335632,175.350486,0.319574,65.140,65.140,65.140,0.319574
2,Grocery,0.26,25.336235,175.130347,0.314148,0.260,0.260,0.260,0.314148
3,Grocery,1.43,25.336660,174.975058,0.000000,0.845,0.845,0.845,0.157074
4,Grocery,19.75,25.344710,172.034664,0.105313,19.750,19.750,19.750,0.105313

#### Training Dataset Creation

In Hopsworks training data is a query where the projection (set of features) is determined by the parent FeatureView with an optional snapshot on disk of the data returned by the query.

Training Dataset  may contain splits such as: 
* Training set - the subset of training data used to train a model.
* Validation set - the subset of training data used to evaluate hparams when training a model
* Test set - the holdout subset of training data used to evaluate a mode

Training dataset is created using `fs.create_training_dataset()` method.

In [6]:
td_version, td_job = feature_view.create_training_dataset(
    description = 'transactions_dataset_splitted',
    data_format = 'csv',
    splits = {'train': 80, 'validation': 20},
    train_split = "train",
    write_options = {'wait_for_job': True},
    coalesce = True
)

Training dataset job started successfully, you can follow the progress at https://hopsworks.glassfish.service.consul:8182/p/119/jobs/named/transactions_view_1_1_create_fv_td_27052022142106/executions

VersionWarning: No version provided for creating training dataset, incremented version to `1`.

#### Training Dataset retreival
To retrieve training data from storage (already materialised) or from feature groups direcly we can use `get_training_dataset_splits` or `get_training_dataset` methods. If version is not provided or provided version has not already existed, it creates a new version of training data according to given arguments and returns a dataframe. If version is provided and has already existed, it reads training data from storage or feature groups and returns a dataframe. If split is provided, it reads the specific split.

In [10]:
td_version, df = feature_view.get_training_dataset_splits({'train': 80, 'validation': 20}, start_time=None, end_time=None, version = td_version)

UserWarning: Training dataset splits were defined but no `train_split` (the name of the split that is going to be used for training) was provided. Setting this property to `train`. The statistics of this split will be used for transformation functions.

In [11]:
df

{'train':        fraud_label  category    amount  age_at_transaction  \
 0                0         0  0.000000            0.010738
 1                0         0  0.000000            0.047263
 2                0         0  0.000000            0.063646
 3                0         0  0.000000            0.340523
 4                0         0  0.000000            0.954656
 ...            ...       ...       ...                 ...
 84771            1         5  0.007304            0.909320
 84772            1         5  0.013629            0.516229
 84773            1         8  0.000170            0.132060
 84774            1         8  0.000488            0.488922
 84775            1         8  0.003099            0.266807

        days_until_card_expires  loc_delta  trans_volume_mstd  \
 0                     0.850452   0.024955           0.000000
 1                     0.943722   0.035718           0.000000
 2                     0.132026   0.000044           0.000000
 3                     0.208466   0.211902           0.000000
 4                     0.874834   0.183911           0.000000
 ...                        ...        ...                ...
 84771                 0.728989   0.214688           0.004702
 84772                 0.314443   0.086154           0.005832
 84773                 0.816431   0.217638           0.000170
 84774                 0.607004   0.043470           0.000488
 84775                 0.270363   0.097779           0.003099

        trans_volume_mavg  trans_freq  loc_delta_mavg
 0               0.000000    0.000000        0.026888
 1               0.000000    0.000000        0.038485
 2               0.000000    0.000000        0.000047
 3               0.000000    0.000000        0.228318
 4               0.000000    0.000000        0.198159
 ...                  ...         ...             ...
 84771           0.004702    0.004702        0.204941
 84772           0.005832    0.005832        0.099539
 84773           0.000170    0.000170        0.234498
 84774           0.000488    0.000488        0.046838
 84775           0.003099    0.003099        0.105353

 [84776 rows x 10 columns],
 'validation':        fraud_label  category        amount  age_at_transaction  \
 0                0         0  3.336858e-07            0.612401
 1                0         0  6.673716e-07            0.671897
 2                0         0  6.673716e-07            0.815802
 3                0         0  6.673716e-07            0.869333
 4                0         0  6.673716e-07            0.925831
 ...            ...       ...           ...                 ...
 21239            1         4  2.730885e-03            0.909320
 21240            1         4  2.850678e-03            0.516230
 21241            1         4  3.310497e-03            0.209262
 21242            1         5  4.428011e-03            0.922000
 21243            1         5  4.983598e-03            0.206518

        days_until_card_expires  loc_delta  trans_volume_mstd  \
 0                     0.278781   0.166681       5.505816e-06
 1                     0.773186   0.189745       6.673716e-07
 2                     0.767884   0.091310       6.673716e-07
 3                     0.391663   0.036645       6.673716e-07
 4                     0.589012   0.073213       1.435683e-03
 ...                        ...        ...                ...
 21239                 0.728987   0.132608       2.889330e-03
 21240                 0.314441   0.248543       4.588847e-03
 21241                 0.548680   0.187078       2.202215e-03
 21242                 0.287209   0.093682       2.328126e-03
 21243                 0.228934   0.093580       1.922489e-03

        trans_volume_mavg    trans_freq  loc_delta_mavg
 0           5.505816e-06  5.505816e-06        0.179575
 1           6.673716e-07  6.673716e-07        0.204444
 2           6.673716e-07  6.673716e-07        0.098383
 3           6.673716e-07  6.673716e-07        0.039484
 4           1.435683e-03  1.435683e-03        0.125964
 ...                  ...           ...             ...
 21239       2.889330e-03  2.889330e-03        0.174735
 21240       4.588847e-03  4.588847e-03        0.120633
 21241       2.202215e-03  2.202215e-03        0.115563
 21242       2.328126e-03  2.328126e-03        0.073158
 21243       1.922489e-03  1.922489e-03        0.100203

 [21244 rows x 10 columns]}

### Next; Part 03

In the following notebook, we will train a model on the dataset we created in this notebook and have quick overview of the lineage.