# <span style="font-width:bold; font-size: 3rem; color:#1EB182;"><img src="../../images/icon102.png" width="38px"></img> **Hopsworks Feature Store** </span><span style="font-width:bold; font-size: 3rem; color:#333;">- Part 02: Feature Pipeline</span>

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/logicalclocks/hopsworks-tutorials/blob/master/advanced_tutorials/credit_scores/2_feature_pipeline.ipynb)

## üóíÔ∏è This notebook is divided into the following sections:
1. Data Generation
2. Feature Group insertion

## <span style="color:#ff5f27;"> üîÆ Connecting to Hopsworks Feature Store </span>

In [1]:
import hopsworks

project = hopsworks.login()

fs = project.get_feature_store()

Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/398
Connected. Call `.close()` to terminate connection gracefully.

## <span style="color:#ff5f27;">ü™Ñ Retrieving Feature Groups</span>

#### <span style="color:#ff5f27;">‚õ≥Ô∏è Application Train Feature Group</span>

In [2]:
application_fg = fs.get_or_create_feature_group(
    name = 'application',
    version = 1
)
application_df = application_fg.read()

2023-03-02 13:57:54,807 INFO: USE `dowlingj_featurestore`
2023-03-02 13:57:55,670 INFO: SELECT `fg0`.`sk_id_curr` `sk_id_curr`, `fg0`.`target` `target`, `fg0`.`name_contract_type` `name_contract_type`, `fg0`.`code_gender` `code_gender`, `fg0`.`flag_own_car` `flag_own_car`, `fg0`.`flag_own_realty` `flag_own_realty`, `fg0`.`cnt_children` `cnt_children`, `fg0`.`amt_income_total` `amt_income_total`, `fg0`.`amt_credit` `amt_credit`, `fg0`.`amt_annuity` `amt_annuity`, `fg0`.`amt_goods_price` `amt_goods_price`, `fg0`.`name_type_suite` `name_type_suite`, `fg0`.`name_income_type` `name_income_type`, `fg0`.`name_education_type` `name_education_type`, `fg0`.`name_family_status` `name_family_status`, `fg0`.`name_housing_type` `name_housing_type`, `fg0`.`region_population_relative` `region_population_relative`, `fg0`.`days_birth` `days_birth`, `fg0`.`days_employed` `days_employed`, `fg0`.`days_registration` `days_registration`, `fg0`.`days_id_publish` `days_id_publish`, `fg0`.`flag_mobil` `flag_mobil`, `fg0`.`flag_emp_phone` `flag_emp_phone`, `fg0`.`flag_work_phone` `flag_work_phone`, `fg0`.`flag_cont_mobile` `flag_cont_mobile`, `fg0`.`flag_phone` `flag_phone`, `fg0`.`flag_email` `flag_email`, `fg0`.`cnt_fam_members` `cnt_fam_members`, `fg0`.`region_rating_client` `region_rating_client`, `fg0`.`region_rating_client_w_city` `region_rating_client_w_city`, `fg0`.`weekday_appr_process_start` `weekday_appr_process_start`, `fg0`.`hour_appr_process_start` `hour_appr_process_start`, `fg0`.`reg_region_not_live_region` `reg_region_not_live_region`, `fg0`.`reg_region_not_work_region` `reg_region_not_work_region`, `fg0`.`live_region_not_work_region` `live_region_not_work_region`, `fg0`.`reg_city_not_live_city` `reg_city_not_live_city`, `fg0`.`reg_city_not_work_city` `reg_city_not_work_city`, `fg0`.`live_city_not_work_city` `live_city_not_work_city`, `fg0`.`organization_type` `organization_type`, `fg0`.`ext_source_2` `ext_source_2`, `fg0`.`ext_source_3` `ext_source_3`, `fg0`.`obs_30_cnt_social_circle` `obs_30_cnt_social_circle`, `fg0`.`def_30_cnt_social_circle` `def_30_cnt_social_circle`, `fg0`.`obs_60_cnt_social_circle` `obs_60_cnt_social_circle`, `fg0`.`def_60_cnt_social_circle` `def_60_cnt_social_circle`, `fg0`.`days_last_phone_change` `days_last_phone_change`, `fg0`.`flag_document_2` `flag_document_2`, `fg0`.`flag_document_3` `flag_document_3`, `fg0`.`flag_document_4` `flag_document_4`, `fg0`.`flag_document_5` `flag_document_5`, `fg0`.`flag_document_6` `flag_document_6`, `fg0`.`flag_document_7` `flag_document_7`, `fg0`.`flag_document_8` `flag_document_8`, `fg0`.`flag_document_9` `flag_document_9`, `fg0`.`flag_document_10` `flag_document_10`, `fg0`.`flag_document_11` `flag_document_11`, `fg0`.`flag_document_12` `flag_document_12`, `fg0`.`flag_document_13` `flag_document_13`, `fg0`.`flag_document_14` `flag_document_14`, `fg0`.`flag_document_15` `flag_document_15`, `fg0`.`flag_document_16` `flag_document_16`, `fg0`.`flag_document_17` `flag_document_17`, `fg0`.`flag_document_18` `flag_document_18`, `fg0`.`flag_document_19` `flag_document_19`, `fg0`.`flag_document_20` `flag_document_20`, `fg0`.`flag_document_21` `flag_document_21`, `fg0`.`amt_req_credit_bureau_hour` `amt_req_credit_bureau_hour`, `fg0`.`amt_req_credit_bureau_day` `amt_req_credit_bureau_day`, `fg0`.`amt_req_credit_bureau_week` `amt_req_credit_bureau_week`, `fg0`.`amt_req_credit_bureau_mon` `amt_req_credit_bureau_mon`, `fg0`.`amt_req_credit_bureau_qrt` `amt_req_credit_bureau_qrt`, `fg0`.`amt_req_credit_bureau_year` `amt_req_credit_bureau_year`
FROM `dowlingj_featurestore`.`application_1` `fg0`

UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy

#### <span style="color:#ff5f27;">‚õ≥Ô∏è Bureau Balance Feature Group</span>

In [3]:
bureau_balance_fg = fs.get_or_create_feature_group(
    name = 'bureau_balance',
    version = 1
)
bureau_balance_df = bureau_balance_fg.read()

2023-03-02 13:57:59,408 INFO: USE `dowlingj_featurestore`
2023-03-02 13:57:59,877 INFO: SELECT `fg0`.`sk_id_bureau` `sk_id_bureau`, `fg0`.`months_balance` `months_balance`, `fg0`.`status` `status`
FROM `dowlingj_featurestore`.`bureau_balance_1` `fg0`

UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy

#### <span style="color:#ff5f27;">‚õ≥Ô∏è Bureau Feature Group</span>

In [4]:
bureau_fg = fs.get_or_create_feature_group(
    name = 'bureau',
    version = 1
)
bureau_df = bureau_fg.read()

2023-03-02 13:58:03,478 INFO: USE `dowlingj_featurestore`
2023-03-02 13:58:04,036 INFO: SELECT `fg0`.`sk_id_curr` `sk_id_curr`, `fg0`.`sk_id_bureau` `sk_id_bureau`, `fg0`.`credit_active` `credit_active`, `fg0`.`credit_currency` `credit_currency`, `fg0`.`days_credit` `days_credit`, `fg0`.`credit_day_overdue` `credit_day_overdue`, `fg0`.`days_credit_enddate` `days_credit_enddate`, `fg0`.`cnt_credit_prolong` `cnt_credit_prolong`, `fg0`.`amt_credit_sum` `amt_credit_sum`, `fg0`.`amt_credit_sum_debt` `amt_credit_sum_debt`, `fg0`.`amt_credit_sum_overdue` `amt_credit_sum_overdue`, `fg0`.`credit_type` `credit_type`, `fg0`.`days_credit_update` `days_credit_update`
FROM `dowlingj_featurestore`.`bureau_1` `fg0`

UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy

#### <span style="color:#ff5f27;">‚õ≥Ô∏è Credit Card Balance Feature Group</span>

In [5]:
credit_card_balance_fg = fs.get_or_create_feature_group(
    name = 'credit_card_balance',
    version = 1
)
credit_card_balance_df = credit_card_balance_fg.read()

2023-03-02 13:58:10,551 INFO: USE `dowlingj_featurestore`
2023-03-02 13:58:10,996 INFO: SELECT `fg0`.`sk_id_prev` `sk_id_prev`, `fg0`.`sk_id_curr` `sk_id_curr`, `fg0`.`months_balance` `months_balance`, `fg0`.`amt_balance` `amt_balance`, `fg0`.`amt_credit_limit_actual` `amt_credit_limit_actual`, `fg0`.`amt_drawings_atm_current` `amt_drawings_atm_current`, `fg0`.`amt_drawings_current` `amt_drawings_current`, `fg0`.`amt_drawings_other_current` `amt_drawings_other_current`, `fg0`.`amt_drawings_pos_current` `amt_drawings_pos_current`, `fg0`.`amt_inst_min_regularity` `amt_inst_min_regularity`, `fg0`.`amt_payment_current` `amt_payment_current`, `fg0`.`amt_payment_total_current` `amt_payment_total_current`, `fg0`.`amt_receivable_principal` `amt_receivable_principal`, `fg0`.`amt_recivable` `amt_recivable`, `fg0`.`amt_total_receivable` `amt_total_receivable`, `fg0`.`cnt_drawings_atm_current` `cnt_drawings_atm_current`, `fg0`.`cnt_drawings_current` `cnt_drawings_current`, `fg0`.`cnt_drawings_other_current` `cnt_drawings_other_current`, `fg0`.`cnt_drawings_pos_current` `cnt_drawings_pos_current`, `fg0`.`cnt_instalment_mature_cum` `cnt_instalment_mature_cum`, `fg0`.`name_contract_status` `name_contract_status`, `fg0`.`sk_dpd` `sk_dpd`, `fg0`.`sk_dpd_def` `sk_dpd_def`
FROM `dowlingj_featurestore`.`credit_card_balance_1` `fg0`

UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy

#### <span style="color:#ff5f27;">‚õ≥Ô∏è Installments Payments Feature Group</span>

In [6]:
installments_payments_fg = fs.get_or_create_feature_group(
    name = 'installments_payments',
    version = 1
)
installments_payments_df = installments_payments_fg.read()

2023-03-02 13:58:14,865 INFO: USE `dowlingj_featurestore`
2023-03-02 13:58:15,286 INFO: SELECT `fg0`.`sk_id_prev` `sk_id_prev`, `fg0`.`sk_id_curr` `sk_id_curr`, `fg0`.`num_instalment_version` `num_instalment_version`, `fg0`.`num_instalment_number` `num_instalment_number`, `fg0`.`days_instalment` `days_instalment`, `fg0`.`days_entry_payment` `days_entry_payment`, `fg0`.`amt_instalment` `amt_instalment`, `fg0`.`amt_payment` `amt_payment`
FROM `dowlingj_featurestore`.`installments_payments_1` `fg0`

UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy

#### <span style="color:#ff5f27;">‚õ≥Ô∏è POS (point of sales) and Cash Loans Balance Feature Group</span>

In [7]:
pos_cash_balance_fg = fs.get_or_create_feature_group(
    name = 'pos_cash_balance',
    version = 1
)
pos_cash_balance_df = pos_cash_balance_fg.read()

2023-03-02 13:58:20,005 INFO: USE `dowlingj_featurestore`
2023-03-02 13:58:20,489 INFO: SELECT `fg0`.`sk_id_prev` `sk_id_prev`, `fg0`.`sk_id_curr` `sk_id_curr`, `fg0`.`months_balance` `months_balance`, `fg0`.`cnt_instalment` `cnt_instalment`, `fg0`.`cnt_instalment_future` `cnt_instalment_future`, `fg0`.`name_contract_status` `name_contract_status`, `fg0`.`sk_dpd` `sk_dpd`, `fg0`.`sk_dpd_def` `sk_dpd_def`
FROM `dowlingj_featurestore`.`pos_cash_balance_1` `fg0`

UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy

#### <span style="color:#ff5f27;">‚õ≥Ô∏è Previous Application Feature Group</span>

In [20]:
previous_application_fg = fs.get_or_create_feature_group(
    name = 'previous_application',
    version = 1
)
previous_application_df = previous_application_fg.read()

2023-03-02 14:09:03,049 INFO: USE `dowlingj_featurestore`
2023-03-02 14:09:03,571 INFO: SELECT `fg0`.`sk_id_prev` `sk_id_prev`, `fg0`.`sk_id_curr` `sk_id_curr`, `fg0`.`name_contract_type` `name_contract_type`, `fg0`.`amt_application` `amt_application`, `fg0`.`amt_credit` `amt_credit`, `fg0`.`weekday_appr_process_start` `weekday_appr_process_start`, `fg0`.`hour_appr_process_start` `hour_appr_process_start`, `fg0`.`flag_last_appl_per_contract` `flag_last_appl_per_contract`, `fg0`.`nflag_last_appl_in_day` `nflag_last_appl_in_day`, `fg0`.`name_cash_loan_purpose` `name_cash_loan_purpose`, `fg0`.`name_contract_status` `name_contract_status`, `fg0`.`days_decision` `days_decision`, `fg0`.`name_payment_type` `name_payment_type`, `fg0`.`code_reject_reason` `code_reject_reason`, `fg0`.`name_client_type` `name_client_type`, `fg0`.`name_goods_category` `name_goods_category`, `fg0`.`name_portfolio` `name_portfolio`, `fg0`.`name_product_type` `name_product_type`, `fg0`.`channel_type` `channel_type`, `fg0`.`sellerplace_area` `sellerplace_area`, `fg0`.`name_seller_industry` `name_seller_industry`, `fg0`.`name_yield_group` `name_yield_group`, `fg0`.`product_combination` `product_combination`
FROM `dowlingj_featurestore`.`previous_application_1` `fg0`

UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy

In [21]:
previous_application_df

,sk_id_prev,sk_id_curr,name_contract_type,amt_application,amt_credit,weekday_appr_process_start,hour_appr_process_start,flag_last_appl_per_contract,nflag_last_appl_in_day,name_cash_loan_purpose,...,code_reject_reason,name_client_type,name_goods_category,name_portfolio,name_product_type,channel_type,sellerplace_area,name_seller_industry,name_yield_group,product_combination
0,2668413,279885,Cash loans,675000.0,870457.5,FRIDAY,14,Y,1,XNA,...,XAP,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,middle,Cash X-Sell: middle
1,2780766,311315,Consumer loans,204925.5,176170.5,TUESDAY,12,Y,1,XAP,...,LIMIT,Refreshed,Consumer Electronics,POS,XNA,Country-wide,3600,Consumer electronics,high,POS household with interest
2,2453426,113501,Cash loans,90000.0,107820.0,TUESDAY,18,Y,1,Hobby,...,LIMIT,Repeater,XNA,Cash,walk-in,Credit and cash offices,-1,XNA,middle,Cash Street: middle
3,2451621,251319,Revolving loans,0.0,450000.0,FRIDAY,16,Y,1,XAP,...,XAP,Repeater,XNA,Cards,x-sell,Credit and cash offices,-1,XNA,XNA,Card X-Sell
4,1530522,276466,Cash loans,0.0,0.0,MONDAY,15,Y,1,XNA,...,XAP,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,XNA,Cash
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5223,2406541,453172,Cash loans,454500.0,454500.0,SATURDAY,10,Y,1,XNA,...,HC,Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,middle,Cash X-Sell: middle
5224,2381965,318094,Cash loans,315000.0,400239.0,WEDNESDAY,14,Y,1,XNA,...,HC,Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,low_normal,Cash X-Sell: low
5225,2275447,243497,Consumer loans,130347.0,144112.5,FRIDAY,8,Y,1,XAP,...,XAP,Repeater,Furniture,POS,XNA,Stone,44,Furniture,middle,POS industry with interest
5226,1039548,182306,Cash loans,157500.0,173092.5,FRIDAY,10,Y,1,XNA,...,XAP,Repeater,XNA,Cash,x-sell,Country-wide,-1,Consumer electronics,high,Cash X-Sell: high
5227,1159610,268898,Revolving loans,225000.0,225000.0,SATURDAY,14,Y,1,XAP,...,XAP,Repeater,XNA,Cards,walk-in,Credit and cash offices,0,XNA,XNA,Card Street

#### <span style="color:#ff5f27;"> ‚õ≥Ô∏è Previous Load Counts Feature Group

In [9]:
previous_loan_counts_fg = fs.get_or_create_feature_group(
    name = 'previous_loan_counts',
    version = 1
)
previous_loan_counts_df = previous_loan_counts_fg.read()

2023-03-02 13:58:28,193 INFO: USE `dowlingj_featurestore`
2023-03-02 13:58:28,692 INFO: SELECT `fg0`.`sk_id_curr` `sk_id_curr`, `fg0`.`previous_loan_counts` `previous_loan_counts`
FROM `dowlingj_featurestore`.`previous_loan_counts_1` `fg0`

UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy

---

## <span style="color:#ff5f27;"> üßôüèº‚Äç‚ôÇÔ∏è Data Generation </span>

### <span style='color:#ff5f27'> üìù Imports

In [10]:
from functions import generate_data

### <span style='color:#ff5f27'> üßëüèª‚Äçüî¨ Generating new data

In [11]:
application_df_generated = generate_data(application_df)
application_df_generated.head()

,sk_id_curr,target,name_contract_type,code_gender,flag_own_car,flag_own_realty,cnt_children,amt_income_total,amt_credit,amt_annuity,...,flag_document_18,flag_document_19,flag_document_20,flag_document_21,amt_req_credit_bureau_hour,amt_req_credit_bureau_day,amt_req_credit_bureau_week,amt_req_credit_bureau_mon,amt_req_credit_bureau_qrt,amt_req_credit_bureau_year
0,455193,0,Cash loans,F,Y,Y,0,157500.0,779688.0,24822.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
1,455194,0,Cash loans,F,Y,Y,1,72000.0,888840.0,34636.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
2,455195,0,Cash loans,F,Y,Y,0,180000.0,370629.0,16222.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
3,455196,0,Cash loans,F,Y,Y,2,225000.0,813195.0,21937.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
4,455197,0,Cash loans,F,N,Y,0,360000.0,808650.0,16155.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0

In [12]:
bureau_balance_df_generated = generate_data(bureau_balance_df)
bureau_balance_df_generated.head()

   sk_id_bureau  months_balance status
0       6838019               0      0
1       6838020               0      C
2       6838021               0      0
3       6838022               0      X
4       6838023             -59      C

In [13]:
bureau_df_generated = generate_data(bureau_df)
bureau_df_generated.head()

,sk_id_curr,sk_id_bureau,credit_active,credit_currency,days_credit,credit_day_overdue,days_credit_enddate,cnt_credit_prolong,amt_credit_sum,amt_credit_sum_debt,amt_credit_sum_overdue,credit_type,days_credit_update
0,456186,6840725,Active,currency 1,-1362,0,107.0,0,900000.00,0.0,0.0,Consumer credit,-7
1,456187,6840726,Active,currency 1,-1567,0,12923.0,0,349611.57,0.0,0.0,Consumer credit,-695
2,456188,6840727,Active,currency 1,-13,0,-1219.0,0,162000.00,0.0,0.0,Consumer credit,-10
3,456189,6840728,Closed,currency 1,-266,0,843.0,0,51727.50,0.0,0.0,Consumer credit,-497
4,456190,6840729,Active,currency 1,-341,0,-303.0,0,38205.00,0.0,0.0,Credit card,-34

In [14]:
credit_card_balance_df_generated = generate_data(credit_card_balance_df)
credit_card_balance_df_generated.head()

,sk_id_prev,sk_id_curr,months_balance,amt_balance,amt_credit_limit_actual,amt_drawings_atm_current,amt_drawings_current,amt_drawings_other_current,amt_drawings_pos_current,amt_inst_min_regularity,...,amt_recivable,amt_total_receivable,cnt_drawings_atm_current,cnt_drawings_current,cnt_drawings_other_current,cnt_drawings_pos_current,cnt_instalment_mature_cum,name_contract_status,sk_dpd,sk_dpd_def
0,2843053,456214,-3,0.000,90000,0.0,0.000,0.0,48852.99,10777.410,...,0.00,0.000,0.0,0,0.0,0.0,3.0,Active,0,0
1,2843054,456215,-2,3479.130,450000,9000.0,0.000,0.0,0.00,13490.820,...,0.00,0.000,0.0,0,0.0,0.0,31.0,Active,0,0
2,2843055,456216,-59,247159.260,90000,0.0,0.000,0.0,0.00,15026.085,...,74539.71,0.000,0.0,0,0.0,0.0,4.0,Active,0,0
3,2843056,456217,-33,239975.235,180000,18000.0,0.000,0.0,0.00,4500.000,...,0.00,0.000,0.0,0,0.0,0.0,6.0,Active,0,0
4,2843057,456218,-50,232547.580,450000,0.0,11167.425,0.0,0.00,22421.430,...,0.00,-173.745,0.0,6,0.0,1.0,0.0,Completed,0,0

In [15]:
installments_payments_df_generated = generate_data(installments_payments_df)
installments_payments_df_generated.head()

,sk_id_prev,sk_id_curr,num_instalment_version,num_instalment_number,days_instalment,days_entry_payment,amt_instalment,amt_payment
0,2843479,456214,1.0,1,-1419.0,-1689.0,5625.000,18976.770
1,2843480,456215,1.0,9,-2544.0,-1316.0,9586.305,4665.195
2,2843481,456216,1.0,4,-7.0,-40.0,11732.445,95316.885
3,2843482,456217,1.0,11,-2843.0,-710.0,28742.670,7031.655
4,2843483,456218,1.0,8,-23.0,-1152.0,14012.865,11031.705

In [16]:
pos_cash_balance_df_generated = generate_data(pos_cash_balance_df)
pos_cash_balance_df_generated.head()

,sk_id_prev,sk_id_curr,months_balance,cnt_instalment,cnt_instalment_future,name_contract_status,sk_dpd,sk_dpd_def
0,2843479,456214,-57,12.0,7.0,Active,0,0
1,2843480,456215,-6,60.0,6.0,Completed,0,0
2,2843481,456216,-69,24.0,1.0,Active,0,0
3,2843482,456217,-35,12.0,3.0,Active,0,0
4,2843483,456218,-62,12.0,1.0,Completed,0,0

In [22]:
previous_application_df_generated = generate_data(previous_application_df)
previous_application_df_generated.head()

,sk_id_prev,sk_id_curr,name_contract_type,amt_application,amt_credit,weekday_appr_process_start,hour_appr_process_start,flag_last_appl_per_contract,nflag_last_appl_in_day,name_cash_loan_purpose,...,code_reject_reason,name_client_type,name_goods_category,name_portfolio,name_product_type,channel_type,sellerplace_area,name_seller_industry,name_yield_group,product_combination
0,2845241,456198,Revolving loans,0.0,530482.5,MONDAY,13,Y,1,XNA,...,XAP,Repeater,XNA,Cards,walk-in,Stone,-1,XNA,high,Cash X-Sell: low
1,2845242,456199,Cash loans,135000.0,450000.0,FRIDAY,7,Y,1,XNA,...,SCO,New,XNA,XNA,XNA,Credit and cash offices,100,Construction,middle,POS industry with interest
2,2845243,456200,Cash loans,20160.0,261486.0,FRIDAY,14,Y,1,XNA,...,XAP,Repeater,XNA,Cash,x-sell,Country-wide,0,Consumer electronics,low_normal,Card Street
3,2845244,456201,Cash loans,0.0,74925.0,TUESDAY,12,Y,1,XAP,...,XAP,Repeater,XNA,Cash,walk-in,Credit and cash offices,-1,Consumer electronics,low_normal,Cash X-Sell: low
4,2845245,456202,Consumer loans,0.0,211464.0,FRIDAY,12,Y,1,XAP,...,XAP,Repeater,XNA,Cash,walk-in,Country-wide,1880,XNA,XNA,Cash

In [18]:
previous_loan_counts_df_generated = generate_data(previous_loan_counts_df)
previous_loan_counts_df_generated.head()

   sk_id_curr  previous_loan_counts
0      456186                     2
1      456187                     9
2      456188                     7
3      456189                     4
4      456190                     1

### <span style='color:#ff5f27'> ‚¨ÜÔ∏è Uploading new data to the Feature Store

In [23]:
application_fg.insert(application_df_generated, write_options={"wait_for_job" : False})

Uploading Dataframe: 0.00% |          | Rows 0/10 | Elapsed Time: 00:00 | Remaining Time: ?

Launching offline feature group backfill job...
Backfill Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/398/jobs/named/application_1_offline_fg_backfill/executions

(<hsfs.core.job.Job at 0x7f9008b88f70>, None)

In [24]:
bureau_balance_fg.insert(bureau_balance_df_generated, write_options={"wait_for_job" : False})

Uploading Dataframe: 0.00% |          | Rows 0/10 | Elapsed Time: 00:00 | Remaining Time: ?

Launching offline feature group backfill job...
Backfill Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/398/jobs/named/bureau_balance_1_offline_fg_backfill/executions

(<hsfs.core.job.Job at 0x7f8f73a23790>, None)

In [25]:
bureau_fg.insert(bureau_df_generated, write_options={"wait_for_job" : False})

Uploading Dataframe: 0.00% |          | Rows 0/10 | Elapsed Time: 00:00 | Remaining Time: ?

Launching offline feature group backfill job...
Backfill Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/398/jobs/named/bureau_1_offline_fg_backfill/executions

(<hsfs.core.job.Job at 0x7f8f74195580>, None)

In [26]:
# Only 5 concurrent upload jobs allowed by Hopsworks 
credit_card_balance_fg.insert(credit_card_balance_df_generated)

Uploading Dataframe: 0.00% |          | Rows 0/10 | Elapsed Time: 00:00 | Remaining Time: ?

Launching offline feature group backfill job...
Backfill Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/398/jobs/named/credit_card_balance_1_offline_fg_backfill/executions

(<hsfs.core.job.Job at 0x7f8f741755b0>, None)

In [28]:
installments_payments_fg.insert(installments_payments_df_generated, write_options={"wait_for_job" : False})

Uploading Dataframe: 0.00% |          | Rows 0/10 | Elapsed Time: 00:00 | Remaining Time: ?

Launching offline feature group backfill job...
Backfill Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/398/jobs/named/installments_payments_1_offline_fg_backfill/executions

(<hsfs.core.job.Job at 0x7f8f738ebd90>, None)

In [29]:
pos_cash_balance_fg.insert(pos_cash_balance_df_generated, write_options={"wait_for_job" : False})

Uploading Dataframe: 0.00% |          | Rows 0/10 | Elapsed Time: 00:00 | Remaining Time: ?

Launching offline feature group backfill job...
Backfill Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/398/jobs/named/pos_cash_balance_1_offline_fg_backfill/executions

(<hsfs.core.job.Job at 0x7f8f74c766d0>, None)

In [30]:
previous_application_fg.insert(previous_application_df_generated, write_options={"wait_for_job" : False})

Uploading Dataframe: 0.00% |          | Rows 0/10 | Elapsed Time: 00:00 | Remaining Time: ?

Launching offline feature group backfill job...
Backfill Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/398/jobs/named/previous_application_1_offline_fg_backfill/executions

(<hsfs.core.job.Job at 0x7f8f73a444f0>, None)

In [31]:
previous_loan_counts_fg.insert(previous_loan_counts_df_generated, write_options={"wait_for_job" : False})

Uploading Dataframe: 0.00% |          | Rows 0/10 | Elapsed Time: 00:00 | Remaining Time: ?

Launching offline feature group backfill job...
Backfill Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/398/jobs/named/previous_loan_counts_1_offline_fg_backfill/executions

(<hsfs.core.job.Job at 0x7f8f73de63d0>, None)

%5|1677763833.790|REQTMOUT|user-ThinkPad-T490s#producer-5| [thrd:ssl://3.145.101.110:9092/bootstrap]: ssl://3.145.101.110:9092/1: Timed out MetadataRequest in flight (after 60061ms, timeout #0)
%4|1677763833.790|REQTMOUT|user-ThinkPad-T490s#producer-5| [thrd:ssl://3.145.101.110:9092/bootstrap]: ssl://3.145.101.110:9092/1: Timed out 1 in-flight, 0 retry-queued, 0 out-queue, 0 partially-sent requests
%3|1677763833.790|FAIL|user-ThinkPad-T490s#producer-5| [thrd:ssl://3.145.101.110:9092/bootstrap]: ssl://3.145.101.110:9092/1: 1 request(s) timed out: disconnect (after 1259294ms in state UP)
%3|1677763833.792|FAIL|user-ThinkPad-T490s#producer-5| [thrd:ssl://3.142.251.253:9092/bootstrap]: ssl://3.142.251.253:9092/2: Failed to connect to broker at 3.142.251.253:9092: Network is unreachable (after 1ms in state CONNECT)
%3|1677763834.751|FAIL|user-ThinkPad-T490s#producer-5| [thrd:ssl://c.app.hopsworks.ai:9092/bootstrap]: ssl://c.app.hopsworks.ai:9092/0: Failed to resolve 'c.app.hopsworks.ai:9092': Temporary failure in name resolution (after 2ms in state CONNECT)
%3|1677763834.791|FAIL|user-ThinkPad-T490s#producer-5| [thrd:ssl://3.145.101.110:9092/bootstrap]: ssl://3.145.101.110:9092/1: Failed to connect to broker at 3.145.101.110:9092: Network is unreachable (after 1ms in state CONNECT)
%3|1677763835.750|FAIL|user-ThinkPad-T490s#producer-5| [thrd:ssl://3.142.251.253:9092/bootstrap]: ssl://3.142.251.253:9092/2: Failed to connect to broker at 3.142.251.253:9092: Network is unreachable (after 0ms in state CONNECT, 1 identical error(s) suppressed)
%3|1677763835.793|FAIL|user-ThinkPad-T490s#producer-5| [thrd:ssl://3.145.101.110:9092/bootstrap]: ssl://3.145.101.110:9092/1: Failed to connect to broker at 3.145.101.110:9092: Network is unreachable (after 1ms in state CONNECT, 1 identical error(s) suppressed)
%3|1677763836.751|FAIL|user-ThinkPad-T490s#producer-5| [thrd:ssl://c.app.hopsworks.ai:9092/bootstrap]: ssl://c.app.hopsworks.ai:9092/0: Failed to resolve 'c.app.hopsworks.ai:9092': Temporary failure in name resolution (after 2ms in state CONNECT, 1 identical error(s) suppressed)
%3|1677763865.752|FAIL|user-ThinkPad-T490s#producer-5| [thrd:ssl://3.142.251.253:9092/bootstrap]: ssl://3.142.251.253:9092/2: Failed to connect to broker at 3.142.251.253:9092: Network is unreachable (after 1ms in state CONNECT, 15 identical error(s) suppressed)
%3|1677763866.753|FAIL|user-ThinkPad-T490s#producer-5| [thrd:ssl://c.app.hopsworks.ai:9092/bootstrap]: ssl://c.app.hopsworks.ai:9092/0: Failed to resolve 'c.app.hopsworks.ai:9092': Temporary failure in name resolution (after 2ms in state CONNECT, 15 identical error(s) suppressed)
%3|1677763868.949|FAIL|user-ThinkPad-T490s#producer-5| [thrd:ssl://3.145.101.110:9092/bootstrap]: ssl://3.145.101.110:9092/1: Failed to connect to broker at 3.145.101.110:9092: Network is unreachable (after 1ms in state CONNECT, 8 identical error(s) suppressed)
%3|1677763895.754|FAIL|user-ThinkPad-T490s#producer-5| [thrd:ssl://3.142.251.253:9092/bootstrap]: ssl://3.142.251.253:9092/2: Failed to connect to broker at 3.142.251.253:9092: Network is unreachable (after 1ms in state CONNECT, 15 identical error(s) suppressed)
%3|1677763896.755|FAIL|user-ThinkPad-T490s#producer-5| [thrd:ssl://c.app.hopsworks.ai:9092/bootstrap]: ssl://c.app.hopsworks.ai:9092/0: Failed to resolve 'c.app.hopsworks.ai:9092': Temporary failure in name resolution (after 2ms in state CONNECT, 14 identical error(s) suppressed)
%3|1677763903.769|FAIL|user-ThinkPad-T490s#producer-5| [thrd:ssl://3.145.101.110:9092/bootstrap]: ssl://3.145.101.110:9092/1: Failed to connect to broker at 3.145.101.110:9092: Network is unreachable (after 2ms in state CONNECT, 10 identical error(s) suppressed)
%3|1677763925.754|FAIL|user-ThinkPad-T490s#producer-5| [thrd:ssl://3.142.251.253:9092/bootstrap]: ssl://3.142.251.253:9092/2: Failed to connect to broker at 3.142.251.253:9092: Network is unreachable (after 0ms in state CONNECT, 15 identical error(s) suppressed)
%3|1677763926.756|FAIL|user-ThinkPad-T490s#producer-5| [thrd:ssl://c.app.hopsworks.ai:9092/bootstrap]: ssl://c.app.hopsworks.ai:9092/0: Failed to resolve 'c.app.hopsworks.ai:9092': Temporary failure in name resolution (after 2ms in state CONNECT, 15 identical error(s) suppressed)
%3|1677763942.171|FAIL|user-ThinkPad-T490s#producer-5| [thrd:ssl://3.145.101.110:9092/bootstrap]: ssl://3.145.101.110:9092/1: Failed to connect to broker at 3.145.101.110:9092: Network is unreachable (after 1ms in state CONNECT, 4 identical error(s) suppressed)
%3|1677763955.757|FAIL|user-ThinkPad-T490s#producer-5| [thrd:ssl://3.142.251.253:9092/bootstrap]: ssl://3.142.251.253:9092/2: Failed to connect to broker at 3.142.251.253:9092: Network is unreachable (after 1ms in state CONNECT, 15 identical error(s) suppressed)
%3|1677763956.758|FAIL|user-ThinkPad-T490s#producer-5| [thrd:ssl://c.app.hopsworks.ai:9092/bootstrap]: ssl://c.app.hopsworks.ai:9092/0: Failed to resolve 'c.app.hopsworks.ai:9092': Temporary failure in name resolution (after 2ms in state CONNECT, 15 identical error(s) suppressed)
%3|1677763982.169|FAIL|user-ThinkPad-T490s#producer-5| [thrd:ssl://3.145.101.110:9092/bootstrap]: ssl://3.145.101.110:9092/1: Failed to connect to broker at 3.145.101.110:9092: Network is unreachable (after 0ms in state CONNECT, 4 identical error(s) suppressed)
%3|1677763985.758|FAIL|user-ThinkPad-T490s#producer-5| [thrd:ssl://3.142.251.253:9092/bootstrap]: ssl://3.142.251.253:9092/2: Failed to connect to broker at 3.142.251.253:9092: Network is unreachable (after 0ms in state CONNECT, 15 identical error(s) suppressed)
%3|1677763986.759|FAIL|user-ThinkPad-T490s#producer-5| [thrd:ssl://c.app.hopsworks.ai:9092/bootstrap]: ssl://c.app.hopsworks.ai:9092/0: Failed to resolve 'c.app.hopsworks.ai:9092': Temporary failure in name resolution (after 1ms in state CONNECT, 15 identical error(s) suppressed)
%5|1677767682.834|REQTMOUT|user-ThinkPad-T490s#producer-5| [thrd:ssl://3.142.251.253:9092/bootstrap]: ssl://3.142.251.253:9092/2: Timed out MetadataRequest in flight (after 60058ms, timeout #0)
%4|1677767682.834|REQTMOUT|user-ThinkPad-T490s#producer-5| [thrd:ssl://3.142.251.253:9092/bootstrap]: ssl://3.142.251.253:9092/2: Timed out 1 in-flight, 0 retry-queued, 0 out-queue, 0 partially-sent requests
%3|1677767682.834|FAIL|user-ThinkPad-T490s#producer-5| [thrd:ssl://3.142.251.253:9092/bootstrap]: ssl://3.142.251.253:9092/2: 1 request(s) timed out: disconnect (after 3129176ms in state UP)
%5|1677768996.789|REQTMOUT|user-ThinkPad-T490s#producer-5| [thrd:ssl://3.145.101.110:9092/bootstrap]: ssl://3.145.101.110:9092/1: Timed out MetadataRequest in flight (after 60060ms, timeout #0)
%4|1677768996.789|REQTMOUT|user-ThinkPad-T490s#producer-5| [thrd:ssl://3.145.101.110:9092/bootstrap]: ssl://3.145.101.110:9092/1: Timed out 1 in-flight, 0 retry-queued, 0 out-queue, 0 partially-sent requests
%3|1677768996.789|FAIL|user-ThinkPad-T490s#producer-5| [thrd:ssl://3.145.101.110:9092/bootstrap]: ssl://3.145.101.110:9092/1: 1 request(s) timed out: disconnect (after 298475ms in state UP)
%5|1677769057.644|REQTMOUT|user-ThinkPad-T490s#producer-5| [thrd:ssl://3.142.251.253:9092/bootstrap]: ssl://3.142.251.253:9092/2: Timed out MetadataRequest in flight (after 60854ms, timeout #0)
%5|1677769057.644|REQTMOUT|user-ThinkPad-T490s#producer-5| [thrd:ssl://3.142.251.253:9092/bootstrap]: ssl://3.142.251.253:9092/2: Timed out MetadataRequest in flight (after 60059ms, timeout #1)
%4|1677769057.644|REQTMOUT|user-ThinkPad-T490s#producer-5| [thrd:ssl://3.142.251.253:9092/bootstrap]: ssl://3.142.251.253:9092/2: Timed out 2 in-flight, 0 retry-queued, 0 out-queue, 0 partially-sent requests
%3|1677769057.644|FAIL|user-ThinkPad-T490s#producer-5| [thrd:ssl://3.142.251.253:9092/bootstrap]: ssl://3.142.251.253:9092/2: 2 request(s) timed out: disconnect (after 358918ms in state UP)

---
## <span style="color:#ff5f27;">‚è≠Ô∏è **Next:** Part 03 </span>

In the next notebook we will use our feature groups to create a feature view and then training dataset we can train a model on.