## Feature Groups

In this series of tutorials, we will work with data related to credit card transactions. The end goal is to train and serve a model on the Hopsworks platform that can predict whether a credit card transaction is fraudulent or not.

In this particular notebook you will learn how to:
- Connect to the Hopsworks feature store.
- Create feature groups and upload them to the feature store.

![tutorial-flow](images/online_offline_fs.png)

First of all we will load the data and do some feature engineering on it.

### Data

The data we will use comes from three different CSV files:

- `credit_cards.csv`: credit card information such as expiration date and provider.
- `transactions.csv`: transaction information such as timestamp, location, and the amount. Importantly, the binary `fraud_label` variable tells us whether a transaction was fraudulent or not.
- `profiles.csv`: credit card user information such as birthdate and city of residence.

We can conceptualize these CSV files as originating from separate data sources. All three files have a credit card number column `cc_num` in common, which we can use for joins.

Let's go ahead and load the data.

In [1]:
import pandas as pd
from hops import hdfs
from hops import pandas_helper as pandas
                                            
credit_cards_df = pandas.read_csv("/Projects/{}/Jupyter/hopsworks-tutorials/data/credit_cards.csv".format(hdfs.project_name()))
credit_cards_df.head(3)

             cc_num provider expires
0  4796807885357879     visa   05/23
1  4529266636192966     visa   03/22
2  4922690008243953     visa   02/27

In [2]:
profiles_df = pandas.read_csv("/Projects/{}/Jupyter/hopsworks-tutorials/data/profiles.csv".format(hdfs.project_name()), parse_dates=["birthdate"])
profiles_df.head(3)

,name,sex,mail,birthdate,City,Country,cc_num
0,Catherine Zimmerman,F,valenciajason@hotmail.com,1988-09-20,Bryn Mawr-Skyway,US,4796807885357879
1,Michael Williams,M,brettkennedy@yahoo.com,1977-03-01,Gates-North Gates,US,4529266636192966
2,Jessica Krueger,F,marthacruz@hotmail.com,1947-09-10,Greenfield,US,4922690008243953

In [3]:
trans_df = pandas.read_csv("/Projects/{}/Jupyter/hopsworks-tutorials/data/transactions.csv".format(hdfs.project_name()),parse_dates=["datetime"])
trans_df.head(3)

,tid,datetime,cc_num,category,amount,latitude,longitude,city,country,fraud_label
0,11df919988c134d97bbff2678eb68e22,2022-01-01 00:00:24,4473593503484549,Health/Beauty,62.95,42.30865,-83.48216,Canton,US,0
1,dd0b2d6d4266ccd3bf05bc2ea91cf180,2022-01-01 00:00:56,4272465718946864,Grocery,85.45,33.52253,-117.70755,Laguna Niguel,US,0
2,e627f5d9a9739833bd52d2da51761fc3,2022-01-01 00:02:32,4104216579248948,Domestic Transport,21.63,37.60876,-77.37331,Mechanicsville,US,0

### Feature Engineering

Fraudulent transactions can differ from regular ones in many different ways. Typical red flags would for instance be a large transaction volume/frequency in the span of a few hours. It could also be the case that elderly people in particular are targeted by fraudsters. To facilitate model learning we will create additional features based on these patterns. In particular, we will create two types of features:
1. Features that aggregate data from different data sources. This could for instance be the age of a customer at the time of a transaction, which combines the `birthdate` feature from `profiles.csv` with the `datetime` feature from `transactions.csv`.
2. Features that aggregate data from multiple time steps. An example of this could be the transaction frequency of a credit card in the span of a few hours, which is computed using a window function.

Let's start with the first category.

In [4]:
import numpy as np

# Compute age at transaction.
age_df = trans_df.merge(profiles_df, on="cc_num", how="left")
trans_df["age_at_transaction"] = (age_df["datetime"] - age_df["birthdate"]) / np.timedelta64(1, "Y")

# Compute days until card expires.
card_expiry_df = trans_df.merge(credit_cards_df, on="cc_num", how="left")
card_expiry_df["expires"] = pd.to_datetime(card_expiry_df["expires"], format="%m/%y")
trans_df["days_until_card_expires"] = (card_expiry_df["expires"] - card_expiry_df["datetime"]) / np.timedelta64(1, "D")

trans_df[["age_at_transaction", "days_until_card_expires"]].head()

   age_at_transaction  days_until_card_expires
0           97.513297              1460.999722
1           33.752919              1733.999352
2           80.899681               242.998241
3           53.526088               150.997639
4           46.005059               515.997280

Next, we create features that for each credit card aggregate data from multiple time steps.

We start by computing the distance between consecutive transactions, which we will call `loc_delta`.
Here we use the [Haversine distance](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.pairwise.haversine_distances.html?highlight=haversine#sklearn.metrics.pairwise.haversine_distances) to quantify the distance between two longitude and latitude coordinates.

In [5]:
from math import radians

# Do some simple preprocessing.
trans_df.sort_values("datetime", inplace=True)
trans_df[["longitude", "latitude"]] = trans_df[["longitude", "latitude"]].applymap(radians)

def haversine(long, lat):
    """Compute Haversine distance between each consecutive coordinate in (long, lat)."""

    long_shifted = long.shift()
    lat_shifted = lat.shift()
    long_diff = long_shifted - long
    lat_diff = lat_shifted - lat

    a = np.sin(lat_diff/2.0)**2
    b = np.cos(lat) * np.cos(lat_shifted) * np.sin(long_diff/2.0)**2
    c = 2*np.arcsin(np.sqrt(a + b))

    return c


trans_df["loc_delta"] = trans_df.groupby("cc_num")\
    .apply(lambda x : haversine(x["longitude"], x["latitude"]))\
    .reset_index(level=0, drop=True)\
    .fillna(0)

Next we compute windowed aggregates. Here we will use 4-hour windows, but feel free to experiment with different window lengths by setting `window_len` below to a value of your choice.

In [6]:
window_len = "4h"
cc_group = trans_df[["cc_num", "amount", "datetime"]].groupby("cc_num").rolling(window_len, on="datetime")

# Moving average of transaction volume.
df_4h_mavg = pd.DataFrame(cc_group.mean())
df_4h_mavg.columns = ["trans_volume_mavg", "datetime"]
df_4h_mavg = df_4h_mavg.reset_index(level=["cc_num"])
df_4h_mavg = df_4h_mavg.drop(columns=["cc_num", "datetime"])
df_4h_mavg = df_4h_mavg.sort_index()

# Moving standard deviation of transaction volume.
df_4h_std = pd.DataFrame(cc_group.mean())
df_4h_std.columns = ["trans_volume_mstd", "datetime"]
df_4h_std = df_4h_std.reset_index(level=["cc_num"])
df_4h_std = df_4h_std.drop(columns=["cc_num", "datetime"])
df_4h_std = df_4h_std.fillna(0)
df_4h_std = df_4h_std.sort_index()
window_aggs_df = df_4h_std.merge(df_4h_mavg,left_index=True, right_index=True)

# Moving average of transaction frequency.
df_4h_count = pd.DataFrame(cc_group.mean())
df_4h_count.columns = ["trans_freq", "datetime"]
df_4h_count = df_4h_count.reset_index(level=["cc_num"])
df_4h_count = df_4h_count.drop(columns=["cc_num", "datetime"])
df_4h_count = df_4h_count.sort_index()
window_aggs_df = window_aggs_df.merge(df_4h_count,left_index=True, right_index=True)

# Moving average of location difference between consecutive transactions.
cc_group = trans_df[["cc_num", "loc_delta", "datetime"]].groupby("cc_num").rolling(window_len, on="datetime").mean()
df_4h_loc_delta_mavg = pd.DataFrame(cc_group)
df_4h_loc_delta_mavg.columns = ["loc_delta_mavg", "datetime"]
df_4h_loc_delta_mavg = df_4h_loc_delta_mavg.reset_index(level=["cc_num"])
df_4h_loc_delta_mavg = df_4h_loc_delta_mavg.drop(columns=["cc_num", "datetime"])
df_4h_loc_delta_mavg = df_4h_loc_delta_mavg.sort_index()
window_aggs_df = window_aggs_df.merge(df_4h_loc_delta_mavg,left_index=True, right_index=True)

window_aggs_df = window_aggs_df.merge(trans_df[["cc_num", "datetime"]].sort_index(),left_index=True, right_index=True)

## TODO (Davit): There is an issue with date time objects

In [7]:
trans_df.datetime = trans_df.datetime.values.astype(np.int64) // 10 ** 6
window_aggs_df.datetime = window_aggs_df.datetime.values.astype(np.int64) // 10 ** 6

## TODO (Davit): There is an issue with long type PK?

In [8]:
window_aggs_df.datetime = window_aggs_df.datetime.values.astype(np.int64) // 10 ** 6
window_aggs_df['cc_num'] = window_aggs_df['cc_num'].astype(str)

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-11-fc9632f8a8ae> in <module>
      6     stream=True,
      7 )
----> 8 window_aggs_fg.save(window_aggs_df)

/srv/hops/anaconda/envs/theenv/lib/python3.8/site-packages/hsfs/feature_group.py in save(self, features, write_options)
    859 
    860         # fg_job is used only if the python engine is used
--> 861         fg_job = self._feature_group_engine.save(self, feature_dataframe, write_options)
    862         self._code_engine.save_code(self)
    863         if self.statistics_config.enabled and engine.get_type() == "spark":

/srv/hops/anaconda/envs/theenv/lib/python3.8/site-packages/hsfs/core/feature_group_engine.py in save(self, feature_group, feature_dataframe, write_options)
     63         online_write_options = self.get_kafka_config(write_options)
     64 
---> 65         return engine.get_instance().save_dataframe(
     66             feature_group,
     67             feature_dataframe,

/srv/hops/anaconda/envs/theenv/lib/python3.8/site-packages/hsfs/engine/python.py in save_dataframe(self, feature_group, dataframe, operation, online_enabled, storage, offline_write_options, online_write_options, validation_id)
    373     ):
    374         if feature_group.stream:
--> 375             return self._write_dataframe_kafka(
    376                 feature_group, dataframe, offline_write_options
    377             )

/srv/hops/anaconda/envs/theenv/lib/python3.8/site-packages/hsfs/engine/python.py in _write_dataframe_kafka(self, feature_group, dataframe, offline_write_options)
    671             # encode feature row
    672             with BytesIO() as outf:
--> 673                 writer(row, outf)
    674                 encoded_row = outf.getvalue()
    675 

/srv/hops/anaconda/envs/theenv/lib/python3.8/site-packages/hsfs/engine/python.py in <lambda>(record, outf)
    721             schema = json.loads(writer_schema)
    722             parsed_schema = parse_schema(schema)
--> 723             return lambda record, outf: schemaless_writer(outf, parsed_schema, record)
    724 
    725         parsed_schema = avro.schema.parse(writer_schema)

fastavro/_write.pyx in fastavro._write.schemaless_writer()

fastavro/_write.pyx in fastavro._write.write_data()

fastavro/_write.pyx in fastavro._write.write_record()

fastavro/_write.pyx in fastavro._write.write_data()

fastavro/_write.pyx in fastavro._write.write_union()

ValueError: 4473593503484549.0 (type <class 'float'>) do not match ['null', 'long'] on field cc_num

#### Creating Feature Groups

A [feature group](https://docs.hopsworks.ai/feature-store-api/latest/generated/feature_group/) can be seen as a collection of conceptually related features. In our case, we will create a feature group for the transaction data and a feature group for the windowed aggregations on the transaction data. Both will have `tid` as primary key, which will allow us to join them when creating a dataset in the next tutorial.

Feature groups can also be used to define a namespace for features. For instance, in a real-life setting we would likely want to experiment with different window lengths. In that case, we can create feature groups with identical schema for each window length. 

Before we can create a feature group we need to connect to our feature store.

In [9]:
import hsfs

conn = hsfs.connection()
fs = conn.get_feature_store()

Connected. Call `.close()` to terminate connection gracefully.

## TODO explain streaming fg and event_time enabled FG

To create a feature group we need to give it a name and specify a primary key. It is also good to provide a description of the contents of the feature group.

Here we have also set `online_enabled=True`, which enables low latency access to the data. A full list of arguments can be found in the [documentation](https://docs.hopsworks.ai/feature-store-api/latest/generated/api/feature_store_api/#create_feature_group).

At this point, we have only specified some metadata for the feature group. It does not store any data or even have a schema defined for the data. To make the feature group persistent we populate it with its associated data using the `save` function.

In [10]:
trans_fg = fs.create_feature_group(
    name="transactions",
    description="Transaction data.",
    primary_key=['cc_num'],
    event_time=['datetime'],
    online_enabled=True,
    stream=True,
)
trans_fg.save(trans_df)

Launching offline feature group backfill job...
Backfill Job started successfully, you can follow the progress at https://hopsworks.glassfish.service.consul:8182/p/119/jobs/named/transactions_1_offline_fg_backfill/executions

VersionWarning: No version provided for creating feature group `transactions`, incremented version to `1`.

In [11]:
window_aggs_fg = fs.create_feature_group(
    name=f"transactions_{window_len}_aggs",
    description=f"Aggregate transaction data over {window_len} windows.",
    primary_key=["cc_num"],
    event_time=['datetime'],    
    online_enabled=True,    
    stream=True,
)
window_aggs_fg.save(window_aggs_df)

Launching offline feature group backfill job...
Backfill Job started successfully, you can follow the progress at https://hopsworks.glassfish.service.consul:8182/p/119/jobs/named/transactions_4h_aggs_1_offline_fg_backfill/executions

VersionWarning: No version provided for creating feature group `transactions_4h_aggs`, incremented version to `1`.

You should now be able to inspect the feature groups in the Hopsworks UI.

### Next Steps

In the next notebook we will use our feature groups to create a dataset we can train a model on.