# <span style="color:#ff5f27;">üîÆ Creating Feature Groups, Feature View and Training Dataset</span>
---

### <span style="color:#ff5f27;"> üìù Imports</span>

In [1]:
import pandas as pd

import datetime

import warnings
warnings.filterwarnings('ignore')

---

### <span style="color:#ff5f27;"> üíΩ Loading Data</span>

#### <span style="color:#ff5f27;"> ‚õ≥Ô∏è Tweets Textblob</span>

In [2]:
tweets_textblob = pd.read_csv(
    'data/tweets_textblob.csv',
    index_col=0
)

tweets_textblob.head()

         date  subjectivity   polarity           unix
0  2021-02-05     33.070246  10.990740  1612512000000
1  2021-02-06     39.396726  14.872548  1612562400000
2  2021-02-07     43.991652  18.617581  1612648800000
3  2021-02-08     63.704263  23.015734  1612735200000
4  2021-02-09     49.481201  18.047544  1612821600000

In [3]:
tweets_textblob.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 484 entries, 0 to 483
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          484 non-null    object
 1   subjectivity  484 non-null    float64
 2   polarity      484 non-null    float64
 3   unix          484 non-null    int64
dtypes: float64(2), int64(1), object(1)
memory usage: 18.9+ KB

In [4]:
tweets_textblob.describe()

       subjectivity    polarity          unix
count    484.000000  484.000000  4.840000e+02
mean     102.370240   45.096402  1.633340e+12
std      197.240233   89.028619  1.208423e+10
min        0.000000    0.000000  1.612512e+12
25%        0.000000    0.000000  1.622905e+12
50%        0.000000    0.000000  1.633338e+12
75%       69.240881   25.103128  1.643774e+12
max     1019.879239  416.725116  1.654204e+12

In [5]:
tweets_textblob.shape

(484, 4)

#### <span style="color:#ff5f27;"> ‚õ≥Ô∏è Tweets Vader</span>

In [6]:
tweets_vader = pd.read_csv(
    'data/tweets_vader.csv',
    index_col = 0
)

tweets_vader.head()

         date   compound           unix
0  2021-02-05  16.386050  1612512000000
1  2021-02-06  19.337917  1612562400000
2  2021-02-07  18.655754  1612648800000
3  2021-02-08  37.119012  1612735200000
4  2021-02-09  28.974629  1612821600000

In [7]:
tweets_vader.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 484 entries, 0 to 483
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      484 non-null    object
 1   compound  484 non-null    float64
 2   unix      484 non-null    int64
dtypes: float64(1), int64(1), object(1)
memory usage: 15.1+ KB

In [8]:
tweets_vader.describe()

         compound          unix
count  484.000000  4.840000e+02
mean    76.473303  1.633340e+12
std    153.225386  1.208423e+10
min      0.000000  1.612512e+12
25%      0.000000  1.622905e+12
50%      0.000000  1.633338e+12
75%     43.209567  1.643774e+12
max    788.684917  1.654204e+12

In [9]:
tweets_vader.shape

(484, 3)

#### <span style="color:#ff5f27;"> ‚õ≥Ô∏è Bitcoin timeseries</span>

In [10]:
btc_df = pd.read_csv(
    'data/btc_processed.csv',
    index_col=0
)

btc_df.head()

,date,open,high,low,close,volume,quote_av,trades,tb_base_av,tb_quote_av,...,exp_std_14_days,momentum_14_days,rate_of_change_14_days,strength_index_14_days,std_56_days,exp_mean_56_days,exp_std_56_days,momentum_56_days,rate_of_change_56_days,strength_index_56_days
0,2021-02-06,38289.32,40955.51,38215.94,39186.94,98757.311183,3.922095e+09,2291646,52015.513362,2.065181e+09,...,0.000000,0.0,0.0,0.0,0.0,39186.940000,0.000000,0.0,0.0,0.0
1,2021-02-07,39181.01,39700.00,37351.00,38795.69,84363.679763,3.256521e+09,1976357,40764.388959,1.574483e+09,...,276.655528,0.0,0.0,0.0,0.0,38987.821696,276.655528,0.0,0.0,0.0
2,2021-02-08,38795.69,46794.45,37988.89,46374.87,138597.536914,5.881537e+09,3230961,72345.891568,3.069314e+09,...,4421.134890,0.0,0.0,0.0,0.0,41538.626239,4306.962346,0.0,0.0,0.0
3,2021-02-09,46374.86,48142.19,44961.09,46420.42,115499.861712,5.386255e+09,3119034,57429.564347,2.679451e+09,...,4262.249169,0.0,0.0,0.0,0.0,42825.220050,4279.624726,0.0,0.0,0.0
4,2021-02-10,46420.42,47310.00,43727.00,44807.58,97154.182200,4.431650e+09,2891592,47971.985731,2.190231e+09,...,3636.765303,0.0,0.0,0.0,0.0,43250.507857,3783.716931,0.0,0.0,0.0

In [11]:
btc_df

,date,open,high,low,close,volume,quote_av,trades,tb_base_av,tb_quote_av,...,exp_std_14_days,momentum_14_days,rate_of_change_14_days,strength_index_14_days,std_56_days,exp_mean_56_days,exp_std_56_days,momentum_56_days,rate_of_change_56_days,strength_index_56_days
0,2021-02-06,38289.32,40955.51,38215.94,39186.94,98757.311183,3.922095e+09,2291646,52015.513362,2.065181e+09,...,0.000000,0.00,0.000000,0.000000,0.000000,39186.940000,0.000000,0.00,0.000000,0.000000
1,2021-02-07,39181.01,39700.00,37351.00,38795.69,84363.679763,3.256521e+09,1976357,40764.388959,1.574483e+09,...,276.655528,0.00,0.000000,0.000000,0.000000,38987.821696,276.655528,0.00,0.000000,0.000000
2,2021-02-08,38795.69,46794.45,37988.89,46374.87,138597.536914,5.881537e+09,3230961,72345.891568,3.069314e+09,...,4421.134890,0.00,0.000000,0.000000,0.000000,41538.626239,4306.962346,0.00,0.000000,0.000000
3,2021-02-09,46374.86,48142.19,44961.09,46420.42,115499.861712,5.386255e+09,3119034,57429.564347,2.679451e+09,...,4262.249169,0.00,0.000000,0.000000,0.000000,42825.220050,4279.624726,0.00,0.000000,0.000000
4,2021-02-10,46420.42,47310.00,43727.00,44807.58,97154.182200,4.431650e+09,2891592,47971.985731,2.190231e+09,...,3636.765303,0.00,0.000000,0.000000,0.000000,43250.507857,3783.716931,0.00,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
479,2022-05-31,31734.23,32399.00,31200.01,31801.04,62433.116320,1.981259e+09,1161340,30046.955110,9.535746e+08,...,1926.800478,1356.11,10.745901,51.161202,5164.712456,34420.441657,5688.403867,-13696.51,-26.336127,44.556127
480,2022-06-01,31801.05,31982.97,29301.00,29805.83,103395.633820,3.171191e+09,1404611,47614.812050,1.460767e+09,...,1802.522229,1090.51,-1.693315,43.569019,5117.809358,34258.525452,5653.020805,-13364.64,-31.392828,42.983639
481,2022-06-02,29805.84,30689.00,29594.55,30452.62,56961.429280,1.711653e+09,1086183,28555.066070,8.581935e+08,...,1679.699391,133.39,4.286187,46.348521,5039.300314,34124.984906,5597.739238,-12991.57,-27.926222,43.640162
482,2022-06-03,30452.63,30699.00,29282.36,29700.21,54067.447270,1.615617e+09,993769,26583.251410,7.943548e+08,...,1576.588412,499.20,0.866529,43.654773,4996.379059,33969.729641,5559.688788,-12551.80,-30.532276,43.052983
483,2022-06-04,29700.21,29988.88,29485.00,29864.04,25617.901130,7.608743e+08,618037,12971.724600,3.853582e+08,...,1472.337144,418.98,-1.419096,44.412343,4925.337066,33825.670351,5514.223362,-12889.93,-29.163058,43.222349

In [12]:
btc_df.columns

Index(['date', 'open', 'high', 'low', 'close', 'volume', 'quote_av', 'trades',
       'tb_base_av', 'tb_quote_av', 'unix', 'mean_7_days', 'mean_14_days',
       'mean_56_days', 'signal', 'std_7_days', 'exp_mean_7_days',
       'exp_std_7_days', 'momentum_7_days', 'rate_of_change_7_days',
       'strength_index_7_days', 'std_14_days', 'exp_mean_14_days',
       'exp_std_14_days', 'momentum_14_days', 'rate_of_change_14_days',
       'strength_index_14_days', 'std_56_days', 'exp_mean_56_days',
       'exp_std_56_days', 'momentum_56_days', 'rate_of_change_56_days',
       'strength_index_56_days'],
      dtype='object')

In [13]:
btc_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 484 entries, 0 to 483
Data columns (total 33 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date                    484 non-null    object
 1   open                    484 non-null    float64
 2   high                    484 non-null    float64
 3   low                     484 non-null    float64
 4   close                   484 non-null    float64
 5   volume                  484 non-null    float64
 6   quote_av                484 non-null    float64
 7   trades                  484 non-null    int64
 8   tb_base_av              484 non-null    float64
 9   tb_quote_av             484 non-null    float64
 10  unix                    484 non-null    int64
 11  mean_7_days             484 non-null    float64
 12  mean_14_days            484 non-null    float64
 13  mean_56_days            484 non-null    float64
 14  signal                  484 non-null    float64
 15  std_7_days              484 non-null    float64
 16  exp_mean_7_days         484 non-null    float64
 17  exp_std_7_days          484 non-null    float64
 18  momentum_7_days         484 non-null    float64
 19  rate_of_change_7_days   484 non-null    float64
 20  strength_index_7_days   484 non-null    float64
 21  std_14_days             484 non-null    float64
 22  exp_mean_14_days        484 non-null    float64
 23  exp_std_14_days         484 non-null    float64
 24  momentum_14_days        484 non-null    float64
 25  rate_of_change_14_days  484 non-null    float64
 26  strength_index_14_days  484 non-null    float64
 27  std_56_days             484 non-null    float64
 28  exp_mean_56_days        484 non-null    float64
 29  exp_std_56_days         484 non-null    float64
 30  momentum_56_days        484 non-null    float64
 31  rate_of_change_56_days  484 non-null    float64
 32  strength_index_56_days  484 non-null    float64
dtypes: float64(30), int64(2), object(1)
memory usage: 128.6+ KB

--- 

## <span style="color:#ff5f27;"> ü™Ñ Creating Feature Groups </span>

In [14]:
import hopsworks

project = hopsworks.login()

fs = project.get_feature_store()

Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/164

DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses

Connected. Call `.close()` to terminate connection gracefully.

In [15]:
tweets_textblob_fg = fs.get_or_create_feature_group(
    name='tweets_textblob_fg',
    version=1,
    primary_key=['unix'],
    online_enabled=True,
    event_time=['unix']
)

tweets_textblob_fg.insert(tweets_textblob)

Feature Group created successfully, explore it at
https://c.app.hopsworks.ai:443/p/164/fs/106/fg/662

Uploading Dataframe: 0.00% |          | Rows 0/484 | Elapsed Time: 00:00 | Remaining Time: ?

Launching offline feature group backfill job...
Backfill Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/164/jobs/named/tweets_textblob_fg_1_offline_fg_backfill/executions

(<hsfs.core.job.Job at 0x1a6485d61f0>, None)

In [17]:
tweets_vader_fg = fs.get_or_create_feature_group(
    name='tweets_vader_fg',
    version=1,
    primary_key=['unix'],
    online_enabled=True,
    event_time=['unix']
)

tweets_vader_fg.insert(tweets_vader)

Feature Group created successfully, explore it at
https://c.app.hopsworks.ai:443/p/164/fs/106/fg/663

Uploading Dataframe: 0.00% |          | Rows 0/484 | Elapsed Time: 00:00 | Remaining Time: ?

Launching offline feature group backfill job...
Backfill Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/164/jobs/named/tweets_vader_fg_1_offline_fg_backfill/executions

(<hsfs.core.job.Job at 0x1a63393c430>, None)

In [18]:
btc_price_fg = fs.get_or_create_feature_group(
    name='btc_price_fg',
    description='Bitcoin price aggregated for days',
    version=1,
    primary_key=['index'],
    online_enabled=True,
    event_time=['unix']
)

btc_price_fg.insert(btc_df.reset_index())

Feature Group created successfully, explore it at
https://c.app.hopsworks.ai:443/p/164/fs/106/fg/664

Uploading Dataframe: 0.00% |          | Rows 0/484 | Elapsed Time: 00:00 | Remaining Time: ?

Launching offline feature group backfill job...
Backfill Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/164/jobs/named/btc_price_fg_1_offline_fg_backfill/executions

(<hsfs.core.job.Job at 0x1a648521b50>, None)

In [19]:
btc_df.reset_index()

,index,date,open,high,low,close,volume,quote_av,trades,tb_base_av,...,exp_std_14_days,momentum_14_days,rate_of_change_14_days,strength_index_14_days,std_56_days,exp_mean_56_days,exp_std_56_days,momentum_56_days,rate_of_change_56_days,strength_index_56_days
0,0,2021-02-06,38289.32,40955.51,38215.94,39186.94,98757.311183,3.922095e+09,2291646,52015.513362,...,0.000000,0.00,0.000000,0.000000,0.000000,39186.940000,0.000000,0.00,0.000000,0.000000
1,1,2021-02-07,39181.01,39700.00,37351.00,38795.69,84363.679763,3.256521e+09,1976357,40764.388959,...,276.655528,0.00,0.000000,0.000000,0.000000,38987.821696,276.655528,0.00,0.000000,0.000000
2,2,2021-02-08,38795.69,46794.45,37988.89,46374.87,138597.536914,5.881537e+09,3230961,72345.891568,...,4421.134890,0.00,0.000000,0.000000,0.000000,41538.626239,4306.962346,0.00,0.000000,0.000000
3,3,2021-02-09,46374.86,48142.19,44961.09,46420.42,115499.861712,5.386255e+09,3119034,57429.564347,...,4262.249169,0.00,0.000000,0.000000,0.000000,42825.220050,4279.624726,0.00,0.000000,0.000000
4,4,2021-02-10,46420.42,47310.00,43727.00,44807.58,97154.182200,4.431650e+09,2891592,47971.985731,...,3636.765303,0.00,0.000000,0.000000,0.000000,43250.507857,3783.716931,0.00,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
479,479,2022-05-31,31734.23,32399.00,31200.01,31801.04,62433.116320,1.981259e+09,1161340,30046.955110,...,1926.800478,1356.11,10.745901,51.161202,5164.712456,34420.441657,5688.403867,-13696.51,-26.336127,44.556127
480,480,2022-06-01,31801.05,31982.97,29301.00,29805.83,103395.633820,3.171191e+09,1404611,47614.812050,...,1802.522229,1090.51,-1.693315,43.569019,5117.809358,34258.525452,5653.020805,-13364.64,-31.392828,42.983639
481,481,2022-06-02,29805.84,30689.00,29594.55,30452.62,56961.429280,1.711653e+09,1086183,28555.066070,...,1679.699391,133.39,4.286187,46.348521,5039.300314,34124.984906,5597.739238,-12991.57,-27.926222,43.640162
482,482,2022-06-03,30452.63,30699.00,29282.36,29700.21,54067.447270,1.615617e+09,993769,26583.251410,...,1576.588412,499.20,0.866529,43.654773,4996.379059,33969.729641,5559.688788,-12551.80,-30.532276,43.052983
483,483,2022-06-04,29700.21,29988.88,29485.00,29864.04,25617.901130,7.608743e+08,618037,12971.724600,...,1472.337144,418.98,-1.419096,44.412343,4925.337066,33825.670351,5514.223362,-12889.93,-29.163058,43.222349

---

## <span style="color:#ff5f27;">ü™ù Retrieving Feature Groups </span>

In [20]:
btc_price_fg = fs.get_or_create_feature_group(
    name='btc_price_fg',
    version=1
)

btc_price_fg.read().shape

2022-08-25 20:25:21,164 INFO: USE `romankah_featurestore`
2022-08-25 20:25:22,220 INFO: SELECT `fg0`.`index` `index`, `fg0`.`date` `date`, `fg0`.`open` `open`, `fg0`.`high` `high`, `fg0`.`low` `low`, `fg0`.`close` `close`, `fg0`.`volume` `volume`, `fg0`.`quote_av` `quote_av`, `fg0`.`trades` `trades`, `fg0`.`tb_base_av` `tb_base_av`, `fg0`.`tb_quote_av` `tb_quote_av`, `fg0`.`unix` `unix`, `fg0`.`mean_7_days` `mean_7_days`, `fg0`.`mean_14_days` `mean_14_days`, `fg0`.`mean_56_days` `mean_56_days`, `fg0`.`signal` `signal`, `fg0`.`std_7_days` `std_7_days`, `fg0`.`exp_mean_7_days` `exp_mean_7_days`, `fg0`.`exp_std_7_days` `exp_std_7_days`, `fg0`.`momentum_7_days` `momentum_7_days`, `fg0`.`rate_of_change_7_days` `rate_of_change_7_days`, `fg0`.`strength_index_7_days` `strength_index_7_days`, `fg0`.`std_14_days` `std_14_days`, `fg0`.`exp_mean_14_days` `exp_mean_14_days`, `fg0`.`exp_std_14_days` `exp_std_14_days`, `fg0`.`momentum_14_days` `momentum_14_days`, `fg0`.`rate_of_change_14_days` `rate_of_change_14_days`, `fg0`.`strength_index_14_days` `strength_index_14_days`, `fg0`.`std_56_days` `std_56_days`, `fg0`.`exp_mean_56_days` `exp_mean_56_days`, `fg0`.`exp_std_56_days` `exp_std_56_days`, `fg0`.`momentum_56_days` `momentum_56_days`, `fg0`.`rate_of_change_56_days` `rate_of_change_56_days`, `fg0`.`strength_index_56_days` `strength_index_56_days`
FROM `romankah_featurestore`.`btc_price_fg_1` `fg0`

(484, 34)

In [21]:
tweets_textblob_fg = fs.get_or_create_feature_group(
    name='tweets_textblob_fg',
    version=1
)

tweets_textblob_fg.show(5)

2022-08-25 20:25:27,281 INFO: USE `romankah_featurestore`
2022-08-25 20:25:28,368 INFO: SELECT `fg0`.`date` `date`, `fg0`.`subjectivity` `subjectivity`, `fg0`.`polarity` `polarity`, `fg0`.`unix` `unix`
FROM `romankah_featurestore`.`tweets_textblob_fg_1` `fg0`

         date  subjectivity    polarity           unix
0  2022-05-20       0.00000    0.000000  1652994000000
1  2021-05-21       0.00000    0.000000  1621544400000
2  2021-12-08       0.00000    0.000000  1638914400000
3  2021-07-23     638.40153  304.453273  1626987600000
4  2021-11-13       0.00000    0.000000  1636754400000

In [22]:
tweets_vader_fg = fs.get_or_create_feature_group(
    name='tweets_vader_fg',
    version=1
)

tweets_vader_fg.show(5)

2022-08-25 20:25:32,915 INFO: USE `romankah_featurestore`
2022-08-25 20:25:34,300 INFO: SELECT `fg0`.`date` `date`, `fg0`.`compound` `compound`, `fg0`.`unix` `unix`
FROM `romankah_featurestore`.`tweets_vader_fg_1` `fg0`

         date    compound           unix
0  2022-05-20    0.000000  1652994000000
1  2021-05-21    0.000000  1621544400000
2  2021-12-08    0.000000  1638914400000
3  2021-07-23  521.660508  1626987600000
4  2021-11-13    0.000000  1636754400000

---

## <span style="color:#ff5f27;"> üñç Query Preparation</span>

In [23]:
fg_query = btc_price_fg.select_all()\
    .join(
    tweets_textblob_fg.select_all(),
    on='date').join(
     tweets_vader_fg.select_all(),
     on='date'
    )

fg_query.show(5)

2022-08-25 20:25:38,049 INFO: USE `romankah_featurestore`
2022-08-25 20:25:39,210 INFO: WITH right_fg0 AS (SELECT *
FROM (SELECT `fg2`.`index` `index`, `fg2`.`date` `date`, `fg2`.`open` `open`, `fg2`.`high` `high`, `fg2`.`low` `low`, `fg2`.`close` `close`, `fg2`.`volume` `volume`, `fg2`.`quote_av` `quote_av`, `fg2`.`trades` `trades`, `fg2`.`tb_base_av` `tb_base_av`, `fg2`.`tb_quote_av` `tb_quote_av`, `fg2`.`unix` `unix`, `fg2`.`mean_7_days` `mean_7_days`, `fg2`.`mean_14_days` `mean_14_days`, `fg2`.`mean_56_days` `mean_56_days`, `fg2`.`signal` `signal`, `fg2`.`std_7_days` `std_7_days`, `fg2`.`exp_mean_7_days` `exp_mean_7_days`, `fg2`.`exp_std_7_days` `exp_std_7_days`, `fg2`.`momentum_7_days` `momentum_7_days`, `fg2`.`rate_of_change_7_days` `rate_of_change_7_days`, `fg2`.`strength_index_7_days` `strength_index_7_days`, `fg2`.`std_14_days` `std_14_days`, `fg2`.`exp_mean_14_days` `exp_mean_14_days`, `fg2`.`exp_std_14_days` `exp_std_14_days`, `fg2`.`momentum_14_days` `momentum_14_days`, `fg2`.`rate_of_change_14_days` `rate_of_change_14_days`, `fg2`.`strength_index_14_days` `strength_index_14_days`, `fg2`.`std_56_days` `std_56_days`, `fg2`.`exp_mean_56_days` `exp_mean_56_days`, `fg2`.`exp_std_56_days` `exp_std_56_days`, `fg2`.`momentum_56_days` `momentum_56_days`, `fg2`.`rate_of_change_56_days` `rate_of_change_56_days`, `fg2`.`strength_index_56_days` `strength_index_56_days`, `fg2`.`index` `join_pk_index`, `fg2`.`unix` `join_evt_unix`, `fg0`.`subjectivity` `subjectivity`, `fg0`.`polarity` `polarity`, RANK() OVER (PARTITION BY `fg2`.`date`, `fg2`.`unix` ORDER BY `fg0`.`unix` DESC) pit_rank_hopsworks
FROM `romankah_featurestore`.`btc_price_fg_1` `fg2`
INNER JOIN `romankah_featurestore`.`tweets_textblob_fg_1` `fg0` ON `fg2`.`date` = `fg0`.`date` AND `fg2`.`unix` >= `fg0`.`unix`) NA
WHERE `pit_rank_hopsworks` = 1), right_fg1 AS (SELECT *
FROM (SELECT `fg2`.`index` `index`, `fg2`.`date` `date`, `fg2`.`open` `open`, `fg2`.`high` `high`, `fg2`.`low` `low`, `fg2`.`close` `close`, `fg2`.`volume` `volume`, `fg2`.`quote_av` `quote_av`, `fg2`.`trades` `trades`, `fg2`.`tb_base_av` `tb_base_av`, `fg2`.`tb_quote_av` `tb_quote_av`, `fg2`.`unix` `unix`, `fg2`.`mean_7_days` `mean_7_days`, `fg2`.`mean_14_days` `mean_14_days`, `fg2`.`mean_56_days` `mean_56_days`, `fg2`.`signal` `signal`, `fg2`.`std_7_days` `std_7_days`, `fg2`.`exp_mean_7_days` `exp_mean_7_days`, `fg2`.`exp_std_7_days` `exp_std_7_days`, `fg2`.`momentum_7_days` `momentum_7_days`, `fg2`.`rate_of_change_7_days` `rate_of_change_7_days`, `fg2`.`strength_index_7_days` `strength_index_7_days`, `fg2`.`std_14_days` `std_14_days`, `fg2`.`exp_mean_14_days` `exp_mean_14_days`, `fg2`.`exp_std_14_days` `exp_std_14_days`, `fg2`.`momentum_14_days` `momentum_14_days`, `fg2`.`rate_of_change_14_days` `rate_of_change_14_days`, `fg2`.`strength_index_14_days` `strength_index_14_days`, `fg2`.`std_56_days` `std_56_days`, `fg2`.`exp_mean_56_days` `exp_mean_56_days`, `fg2`.`exp_std_56_days` `exp_std_56_days`, `fg2`.`momentum_56_days` `momentum_56_days`, `fg2`.`rate_of_change_56_days` `rate_of_change_56_days`, `fg2`.`strength_index_56_days` `strength_index_56_days`, `fg2`.`index` `join_pk_index`, `fg2`.`unix` `join_evt_unix`, `fg1`.`compound` `compound`, RANK() OVER (PARTITION BY `fg2`.`date`, `fg2`.`unix` ORDER BY `fg1`.`unix` DESC) pit_rank_hopsworks
FROM `romankah_featurestore`.`btc_price_fg_1` `fg2`
INNER JOIN `romankah_featurestore`.`tweets_vader_fg_1` `fg1` ON `fg2`.`date` = `fg1`.`date` AND `fg2`.`unix` >= `fg1`.`unix`) NA
WHERE `pit_rank_hopsworks` = 1) (SELECT `right_fg0`.`index` `index`, `right_fg0`.`date` `date`, `right_fg0`.`open` `open`, `right_fg0`.`high` `high`, `right_fg0`.`low` `low`, `right_fg0`.`close` `close`, `right_fg0`.`volume` `volume`, `right_fg0`.`quote_av` `quote_av`, `right_fg0`.`trades` `trades`, `right_fg0`.`tb_base_av` `tb_base_av`, `right_fg0`.`tb_quote_av` `tb_quote_av`, `right_fg0`.`unix` `unix`, `right_fg0`.`mean_7_days` `mean_7_days`, `right_fg0`.`mean_14_days` `mean_14_days`, `right_fg0`.`mean_56_days` `mean_56_days`, `right_fg0`.`signal` `signal`, `right_fg0`.`std_7_days` `std_7_days`, `right_fg0`.`exp_mean_7_days` `exp_mean_7_days`, `right_fg0`.`exp_std_7_days` `exp_std_7_days`, `right_fg0`.`momentum_7_days` `momentum_7_days`, `right_fg0`.`rate_of_change_7_days` `rate_of_change_7_days`, `right_fg0`.`strength_index_7_days` `strength_index_7_days`, `right_fg0`.`std_14_days` `std_14_days`, `right_fg0`.`exp_mean_14_days` `exp_mean_14_days`, `right_fg0`.`exp_std_14_days` `exp_std_14_days`, `right_fg0`.`momentum_14_days` `momentum_14_days`, `right_fg0`.`rate_of_change_14_days` `rate_of_change_14_days`, `right_fg0`.`strength_index_14_days` `strength_index_14_days`, `right_fg0`.`std_56_days` `std_56_days`, `right_fg0`.`exp_mean_56_days` `exp_mean_56_days`, `right_fg0`.`exp_std_56_days` `exp_std_56_days`, `right_fg0`.`momentum_56_days` `momentum_56_days`, `right_fg0`.`rate_of_change_56_days` `rate_of_change_56_days`, `right_fg0`.`strength_index_56_days` `strength_index_56_days`, `right_fg0`.`subjectivity` `subjectivity`, `right_fg0`.`polarity` `polarity`, `right_fg1`.`compound` `compound`
FROM right_fg0
INNER JOIN right_fg1 ON `right_fg0`.`join_pk_index` = `right_fg1`.`join_pk_index` AND `right_fg0`.`join_evt_unix` = `right_fg1`.`join_evt_unix`)

,index,date,open,high,low,close,volume,quote_av,trades,tb_base_av,...,strength_index_14_days,std_56_days,exp_mean_56_days,exp_std_56_days,momentum_56_days,rate_of_change_56_days,strength_index_56_days,subjectivity,polarity,compound
0,7,2021-02-13,47298.15,48150.00,46202.53,47153.69,63768.097399,3.007710e+09,2058823,30996.309859,...,0.000000,0.0,44971.718239,3563.688114,0.0,0.0,0.0,23.961313,8.400634,15.552458
1,12,2021-02-18,52117.67,52530.00,50901.90,51552.60,60758.046954,3.149973e+09,1891592,28893.358623,...,0.000000,0.0,47155.642400,3829.005261,0.0,0.0,0.0,25.921772,9.227292,15.306463
2,21,2021-02-27,46276.88,48394.00,45000.00,46106.43,66060.834292,3.105897e+09,1757720,31987.019647,...,54.340993,0.0,49038.723212,4508.487057,0.0,0.0,0.0,0.000000,0.000000,0.000000
3,29,2021-03-07,48882.20,51450.03,48882.20,50971.75,55235.028032,2.778876e+09,1758101,27885.596964,...,60.613813,0.0,48983.037036,3673.611509,0.0,0.0,0.0,0.000000,0.000000,0.000000
4,30,2021-03-08,50959.11,52402.78,49274.67,52375.17,66987.359664,3.400848e+09,1999401,33595.429570,...,62.947287,0.0,49160.804971,3656.185031,0.0,0.0,0.0,0.000000,0.000000,0.000000

--- 

## <span style="color:#ff5f27;"> üîÆ Feature View Creation and Retrieving </span>

In [24]:
fs.create_feature_view(
    name='btc_feature_view',
    version=1,
    labels=['close'],
    query=fg_query
)

Feature view created successfully, explore it at
https://c.app.hopsworks.ai:443/p/164/fs/106/fv/btc_feature_view/version/1

In [25]:
feature_view = fs.get_feature_view(
    name='btc_feature_view',
    version=1
)

---

## <span style="color:#ff5f27;"> üèãÔ∏è Training Dataset Creation</span>

In [26]:
feature_view.create_training_data(
    description='training_dataset',
    data_format='csv'
)

Training dataset job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/164/jobs/named/btc_feature_view_1_1_create_fv_td_25082022182615/executions

VersionWarning: Incremented version to `1`.

(1, <hsfs.core.job.Job at 0x1a6498e72b0>)

In [27]:
feature_view.create_train_test_split(
    test_size=0.2
)

Training dataset job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/164/jobs/named/btc_feature_view_1_2_create_fv_td_25082022182933/executions

VersionWarning: Incremented version to `2`.

(2, <hsfs.core.job.Job at 0x1a6498fa850>)

### <span style="color:#ff5f27;">ü™ù Retrieving</span>

In [28]:
X_train, y_train = feature_view.get_training_data(
    training_dataset_version=1
)

In [29]:
X_train.head()

,index,date,open,high,low,volume,quote_av,trades,tb_base_av,tb_quote_av,...,strength_index_14_days,std_56_days,exp_mean_56_days,exp_std_56_days,momentum_56_days,rate_of_change_56_days,strength_index_56_days,subjectivity,polarity,compound
0,295,2021-11-28,54716.47,57445.05,53256.64,36163.713700,1.982198e+09,1253408,18520.699850,1.016073e+09,...,45.829100,3946.912388,57968.685663,6467.039871,9074.87,16.353377,51.934839,0.0,0.0,0.0
1,331,2022-01-03,47286.18,47570.00,45696.00,27662.077100,1.292204e+09,885624,13524.760450,6.318794e+08,...,40.367940,6187.945158,51405.456671,5793.545418,-21079.73,-30.623266,46.326096,0.0,0.0,0.0
2,40,2021-03-18,58912.97,60129.97,57023.00,66580.406675,3.900886e+09,2040947,32287.379911,1.892328e+09,...,60.894076,0.000000,52439.882424,5154.166800,0.00,0.000000,0.000000,0.0,0.0,0.0
3,210,2021-09-04,49998.00,50535.69,49370.00,34664.659590,1.733527e+09,1225830,16739.703850,8.372255e+08,...,61.742131,6572.344611,44022.306283,6219.782262,16412.77,45.700851,55.677840,0.0,0.0,0.0
4,230,2021-09-24,44865.26,45200.00,40675.00,84113.426292,3.596718e+09,1819744,41952.776582,1.794511e+09,...,42.343537,3148.366209,44992.602457,4859.950425,604.20,3.252968,49.550541,0.0,0.0,0.0

In [30]:
y_train.head()

      close
0  57274.88
1  46446.10
2  57648.16
3  49915.64
4  42810.57

In [31]:
X_train.shape

(483, 36)

In [32]:
X_train, y_train, X_test, y_test = feature_view.get_train_test_split(
    training_dataset_version=2
)

In [33]:
X_train.shape

(384, 36)

In [34]:
X_test.shape

(99, 36)

---