# <span style="font-width:bold; font-size: 3rem; color:#1EB182;"><img src="../images/icon102.png" width="38px"></img> **Hopsworks Feature Store** </span><span style="font-width:bold; font-size: 3rem; color:#333;">- Part 02: Feature Pipeline</span>

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/logicalclocks/hopsworks-tutorials/blob/master/bitcoin/2_feature_pipeline.ipynb)


## üóíÔ∏è This notebook is divided in 3 sections:
1. Parsing Data.
2. Feature Group Insertion.

---
## <span style="color:#ff5f27;"> üì° Connecting to Hopsworks Feature Store </span>

In [1]:
import hopsworks

project = hopsworks.login()

fs = project.get_feature_store()

Copy your Api Key (first register/login): https://c.app.hopsworks.ai/account/api/generated

Paste it here: BchNbcRxlEPQjSwh.9Wq7MMLT7wdAvcexfoPx34CQG9g0Wqhm21h7J3wU6FglxYT8LppTU1b3uDmBg3N0
Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1152

DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses

Connected. Call `.close()` to terminate connection gracefully.

### <span style="color:#ff5f27;"> üìù Imports</span>

In [2]:
from functions import *

from dotenv import load_dotenv
load_dotenv()

DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\rkaha\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\rkaha\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\rkaha\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

---

## <span style="color:#ff5f27;"> üßôüèº‚Äç‚ôÇÔ∏è Parsing Data</span>

### <span style='color:#ff5f27'> üìà Bitcoin Data

In [3]:
df_bitcoin = parse_btc_data(number_of_days_ago=60)
df_bitcoin.head(3)

2022-09-29 19:53:47,460 INFO: New instance of unicorn-binance-rest-api_1.5.0-python_3.8.0 on Windows 10 for exchange False started ...
2022-09-29 19:53:47,467 INFO: Initiating `colorama_0.4.5`

,date,open,high,low,close,volume,quote_av,trades,tb_base_av,tb_quote_av,unix
0,2022-07-31 00:00:00,23644.64,24194.82,23227.31,23293.32,127743.32483,3.028386e+09,4463721,63737.43859,1.511326e+09,1659218400000
1,2022-08-01 00:00:00,23296.36,23509.68,22850.00,23268.01,144210.16219,3.346372e+09,4775213,71458.39583,1.658446e+09,1659304800000
2,2022-08-02 00:00:00,23266.90,23459.89,22654.37,22987.79,158073.28225,3.631021e+09,5066511,78122.08501,1.794828e+09,1659391200000

In [4]:
df_bitcoin_processed = process_btc_data(df_bitcoin)
df_bitcoin_processed.tail(3)

,date,open,high,low,close,volume,quote_av,trades,tb_base_av,tb_quote_av,...,exp_std_14_days,momentum_14_days,rate_of_change_14_days,strength_index_14_days,std_56_days,exp_mean_56_days,exp_std_56_days,momentum_56_days,rate_of_change_56_days,strength_index_56_days
58,2022-09-27,19226.68,20385.86,18816.32,19079.13,593260.74161,1.170577e+10,8152473,296727.71059,5.856646e+09,...,801.080442,-1094.44,-5.673587,43.161525,1812.655631,20381.397969,1580.307998,-3908.66,-16.386972,41.735544
59,2022-09-28,19078.10,19790.00,18471.28,19412.82,521385.45547,9.964460e+09,7357437,260944.38118,4.988233e+09,...,745.792496,-813.89,-1.467170,46.316533,1811.372888,20342.896891,1560.210747,-3405.55,-14.189819,42.529903
60,2022-09-29,19412.82,19645.52,18843.01,19321.16,327694.94420,6.340825e+09,4546630,164040.48246,3.174515e+09,...,694.759853,-380.72,-2.434645,45.568291,1812.900081,20302.471221,1542.100949,-3301.82,-17.120745,42.368349

---

### <span style='color:#ff5f27'> üí≠ Tweets Data

In [5]:
df_tweets_parsed = get_last_tweets()
df_tweets_parsed.head()

                       date                                               text
0 2022-09-23 00:26:04+00:00  Fiat money printing hides incompetence at all ...
1 2022-09-23 00:51:41+00:00  Why is #bitcoin dropping? And will it fall bel...
2 2022-09-23 04:37:01+00:00  The colors of money What is your color? #bitco...
3 2022-09-23 05:38:31+00:00  It‚Äôs time to separate money from state. #Bitco...
4 2022-09-23 06:00:51+00:00  Sometimes, it's just sad to see people who don...

In [6]:
tweets_textblob = textblob_processing(df_tweets_parsed)
tweets_textblob.head()

                  date  subjectivity  polarity           unix
0  2022-09-21 00:00:00      4.831750  1.555750  1663711200000
1  2022-09-22 00:00:00      2.998512  0.786066  1663797600000
2  2022-09-23 00:00:00      8.131728  1.814836  1663884000000
3  2022-09-24 00:00:00      2.929545  1.236364  1663970400000
4  2022-09-25 00:00:00      5.335476  0.001825  1664056800000

In [7]:
tweets_vader = vader_processing(df_tweets_parsed)
tweets_vader.head()

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 159/159 [00:00<00:00, 5124.16it/s]

                  date  compound           unix
0  2022-09-21 00:00:00    2.7372  1663711200000
1  2022-09-22 00:00:00    1.5785  1663797600000
2  2022-09-23 00:00:00    1.3411  1663884000000
3  2022-09-24 00:00:00   -0.4297  1663970400000
4  2022-09-25 00:00:00   -0.8352  1664056800000

---

## <span style="color:#ff5f27;">‚¨ÜÔ∏è Uploading new data to the Feature Store</span>

### <span style='color:#ff5f27'> üìà Bitcoin Feature Group

In [8]:
btc_price_fg = fs.get_or_create_feature_group(
    name='bitcoin_price',
    version=1
)

btc_price_fg.insert(df_bitcoin_processed)

Uploading Dataframe: 0.00% |          | Rows 0/61 | Elapsed Time: 00:00 | Remaining Time: ?

Launching offline feature group backfill job...
Backfill Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/1152/jobs/named/bitcoin_price_1_offline_fg_backfill/executions

(<hsfs.core.job.Job at 0x1ec96b14df0>, None)

### <span style='color:#ff5f27'> üí≠ Tweets Feature Groups

In [9]:
tweets_textblob_fg = fs.get_or_create_feature_group(
    name='bitcoin_tweets_textblob',
    version=1
)

tweets_textblob_fg.insert(tweets_textblob)

Uploading Dataframe: 0.00% |          | Rows 0/9 | Elapsed Time: 00:00 | Remaining Time: ?

Launching offline feature group backfill job...
Backfill Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/1152/jobs/named/bitcoin_tweets_textblob_1_offline_fg_backfill/executions

(<hsfs.core.job.Job at 0x1ec9218f3d0>, None)

In [10]:
tweets_vader_fg = fs.get_or_create_feature_group(
    name='bitcoin_tweets_vader',
    version=1
)

tweets_vader_fg.insert(tweets_vader)

Uploading Dataframe: 0.00% |          | Rows 0/9 | Elapsed Time: 00:00 | Remaining Time: ?

Launching offline feature group backfill job...
Backfill Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/1152/jobs/named/bitcoin_tweets_vader_1_offline_fg_backfill/executions

(<hsfs.core.job.Job at 0x1ecf96c8be0>, None)

---